
<div *ngIf="!isLoaded" class="text-center text-[#88887b] text-xl opacity-75">
	<div class="lds-ellipsis">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<div *ngIf="isLoaded">
    <h2 class="text-2xl text-[#94a3b8] mb-[1em] ml-2 lg:ml-0">Edit Profile</h2>
    <form (submit)="updateProfile()">

        <div class="form-group m-4">
    
            <div class="field-box">
                <input [(ngModel)]="this.sharedDataService.currentUser.email"
                    name="email"
                    
                    class="field-input my-[0.5em]"
                    type="email"
                    value="{{this.sharedDataService.currentUser.email}}"
                    placeholder="Your email...">
                <i class="fa-solid fa-envelope field-icon"></i>
            </div>
    
    
            <div class="my-[1em] p-3 rounded-sm hover:opacity-70 transition-all duration-300">

                <span class="text-xl text-[#94a3b8]">Linked Accounts</span>
                <div class="grid sm:grid-cols-2 grid-cols-1">
        
                    <div *ngIf="!this.sharedDataService.currentUser.discordId"
                            class="place-self-center">
                            <button (click)="sync()"
                                class="!mt-2"
                                mat-stroked-button
                                color="primary"
                                type="button">
                                <i class="fa-brands fa-discord"></i>
                                Link Discord
                            </button>
                        </div>   
        
                        <div *ngIf="this.sharedDataService.currentUser.discordId">
                            <div class="m-[1em] max-h-fit text-justify">
                                <div class="text-base">Discord Account</div>
                                <div class="grid grid-cols-[85px_minmax(auto,_1fr)] gap-2">
                                    <div>
                                        <img *ngIf="this.sharedDataService.currentUser.avatar_url; else noAvatar" [src]="this.sharedDataService.currentUser.avatar_url" (error)="this.sharedDataService.checkAndUpdateUserAvatar()"
                                            class="h-[80px] mt-2 pointer-events-none">
        
                                        <ng-template #noAvatar>
                                            <img src="https://molex.cloud/2023/November/3/_vfF/error.png"
                                            class="h-[80px] mt-2 pointer-events-none">
                                        </ng-template>
                                    </div>
        
        
                                    <div>
                                        <div class="font-[200] text-sm text-justify">
        
        
                                            <span class="block text-base text-slate-300 my-2">
                                                {{ (this.sharedDataService.currentUser?.discordUser?.username) || this.sharedDataService.currentUser?.username }}
                                              </span>
                                              
        
        
                                            <i class="fa-brands fa-discord text-neutral-300"></i>
                                            {{this.sharedDataService.currentUser?.discordId}}
                                            <div class="cursor-pointer hover:opacity-80 mt-2">
                                                <span (click)="confirmUnSync()"
                                                    class="text-red-400">
                                                    <i class="fa-regular fa-circle-xmark"></i>
                                                    Unlink
                                                </span>
                                            </div>
        
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
        
                        <div *ngIf="!this.sharedDataService.regiment || stillSelecting"
                            class="place-self-center my-[4em]">
                            <div>
        
        
        
                                <select #selectBox
                                    [(ngModel)]="this.sharedDataService.currentUser.regimentId"
                                    (change)="updateRegiment()"
                                    name="regimentId"
                                    class="field-input text-base !inline-block hover:!scale-100 focus:!scale-100 !transition-none !h-[45px] !max-w-fit"
                                    id="select">
                                    <option value
                                        disabled
                                        selected>
                                        Join a Regiment
                                    </option>
                                    <option *ngFor="let regiment of allRegimentsList"
                                        [value]="regiment.id">
                                        {{ regiment.regiment }}
                                    </option>
                                </select>
        
        
        
                            </div>
                        </div>
        
        
        
                        <div *ngIf="this.sharedDataService.regiment && !stillSelecting">
                            <div class="m-[1em] max-h-fit text-justify">
                                <div class="text-base">Your Regiment</div>
        
        
                                <div class="grid grid-cols-[85px_minmax(auto,_1fr)] gap-2">
        
        
                                    <div>
                                        <img [src]="this.sharedDataService.regiment?.guild_avatar"
                                            class="h-[80px] mt-2 pointer-events-none">
                                    </div>
        
        
                                    <div>
                                        <div class="font-[200] text-sm text-justify">
        
        
                                            <span class="block text-base text-slate-300 my-2">
                                                {{ this.sharedDataService.regiment?.regiment }}
                                            </span>
        
        
                                            <i class="fa-brands fa-discord text-neutral-300"></i>
                                            {{this.sharedDataService.regiment?.guild_id}}
                                            <div class="cursor-pointer hover:opacity-80 mt-2">
                                                <span *ngIf="!this.sharedDataService.regiment.ownerId.includes(this.sharedDataService.currentUser.discordId)" (click)="confirmUnSyncRegiment()"
                                                    class="text-red-400">
                                                    <i class="fa-regular fa-circle-xmark"></i>
                                                    Unlink
                                                </span>
                                                <span *ngIf="this.sharedDataService.regiment.ownerId.includes(this.sharedDataService.currentUser.discordId)"
                                                    class="text-red-400/50 !cursor-not-allowed">
                                                    <i class="fa-regular fa-circle-xmark"></i>
                                                    Regiment Owner
                                                </span>
                                            </div>
        
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
        
        
                </div>
            </div>
    
    
    
    
    
    
    
    
    
    
        </div>
        <div class="w-full text-right">
            <button
            type="submit"
            mat-raised-button class="" color="primary">
            Update Profile
        </button>
        </div>
        
    </form>
</div>




