.lds-ellipsis{
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div{
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #88887b;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1){
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2){
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3){
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4){
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(24px, 0);
    }
}


.progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #12192c;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #7c7d72; 
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* or absolute */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
  }
  
  .centered-box {
    width: 50%;
    background-color: #0c101a;
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(3px);
    opacity: 0.9;
  }
  
  .pagination-button {
    background-color: #12192c;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .pagination-button:hover {
    background-color: #0c101d;
    // filter: brightness(0.7)
  }
  
  .pagination-button:disabled {
    background-color: #646f85;
    color: #a1a7b3;
    cursor: not-allowed;
  }
  
  /* Page numbers */
  .page-number {
    padding: 10px;
    font-weight: bold;
  }
  
  /* Container for page numbers, if you use them */
  .page-numbers {
    display: flex;
    flex-wrap: wrap;
  }
  
  .page-numbers .pagination-button {
    background-color: #12192c;
    color: #e0e0e0;
  }
  
  .page-numbers .pagination-button:hover {
    background-color: #0c101d;
    // filter: brightness(0.7)
  }


  .alert-danger{
	font-weight: 200;
	font-size: .875rem;
	border-left: 3px #993434ce solid;
    padding-left: 0.5em;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #ffa1a1;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	width: fit-content;
	padding-top: 3px;
	padding-bottom: 3px;
	background: linear-gradient(90deg, #99343491, #99343400);
	font-family: "Poppins", sans-serif !important;
}