<div *ngIf="!isDataLoaded" class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>


<div class="center-container z-50" *ngIf="addingSteam">
    <div class="centered-box">

        <div class="w-full text-right">
            <button class="text-lg" mat-button color="primary" (click)="toggleAddingSteam()">
                <span [innerHTML]="addString"></span>
            </button>
        </div>


        <div class="field-box">

            <form [formGroup]="steamIdForm" (ngSubmit)="setGameId()">
                <!-- Display error messages for pattern and required validation -->
                <div
                    *ngIf="steamIdForm.get('gameIdForm')!.invalid && (steamIdForm.get('gameIdForm')!.dirty || steamIdForm.get('gameIdForm')!.touched)">
                    <div *ngIf="steamIdForm.get('gameIdForm')!.hasError('required')" class="alert-danger">
                        Steam ID is required.
                    </div>
                    <div *ngIf="steamIdForm.get('gameIdForm')!.hasError('pattern')" class="alert-danger">
                        Steam ID must be exactly 17 characters.
                    </div>
                </div>
                <!-- Input field with validation -->
                <input formControlName="gameIdForm" (input)="getSteamIdPreview()" matTooltipClass="form-tooltip"
                    matTooltipPosition="left" matTooltip="Steam ID of the user you want to add." name="gameIdForm"
                    class="field-input my-[0.5em]" type="text" placeholder="Steam ID..." pattern=".{17}" required />
                    <i class="fa-brands fa-steam-symbol field-icon"></i>

                



            </form>


        </div>

        <div *ngIf="previewData">
            <div class="grid grid-cols-[150px_auto] w-fit p-2 my-3">
                <div class="row-start-1 col-start-1 col-span-2">
                    <p class="mb-1">{{previewData.personaname}}</p>
                </div>
                <div>
                    <img [src]="previewData.avatarfull"
                        class="h-auto w-[120px] rounded-md shadow-sm hover:shadow-md transition-all duration-200">
                </div>
                <div class="place-self-center">
                    <p class="mb-2">Last Online <span class="font-[300]">{{convertTo12HourTime(previewData.lastlogoff)}}</span></p>
                    <button mat-stroked-button color="primary" (click)="openProfileUrl()">
                        View Steam Profile
                    </button>
                </div>
            </div>

        </div>

        <div class="w-full text-right">
            <button mat-raised-button color="primary" (click)="setGameId()" [disabled]="steamIdForm.invalid">
                <i class="fa-solid fa-check"></i> Add User to Steam ID List
            </button>
        </div>

    </div>
</div>



<div *ngIf="isDataLoaded">

    <div>
        <div class="field-box">
            <input [(ngModel)]="searchText" (ngModelChange)="filterSteamIds()" type="text" style="
      padding-top: 11px;
      padding-bottom: 11px;
      font-size: 15px;
      border: 1px solid #7c7d72 !important;
    " class="field-input" placeholder="Filter by nickname, or steam id">
            <i class="fa-solid fa-search field-icon"></i>
        </div>
    </div>

    <!-- Refresh and Add New Buttons -->
    <div class="w-full text-right my-4">
        <button class="text-lg" mat-button color="primary" (click)="getSteamIds()">
            <i class="fa-solid fa-sync"></i> Refresh
        </button>
        <button class="text-lg" mat-button color="primary" (click)="toggleAddingSteam()">
            <span [innerHTML]="addString"></span>
        </button>
    </div>


    <div *ngFor="let user of getPaginatedSteamIds()" class="my-4">

        <div class="rounded-lg w-full bg-slate-900/80 shadow-lg">
            <div class="grid lg:grid-cols-[120px_auto_auto] grid-cols[120px_auto]">

                <!--  -->

                <div class="row-start-1 col-start-1 lg:col-span-3 col-span-2 rounded-t-lg" style="
                background: linear-gradient(
                  130deg,
                  #263855e1,
                  #1e293b00,
                  #1e293b00,
                  #1e293b00
                );
              ">

                    <div class="grid grid-cols-2 rounded-t-lg" *ngIf="user.liveSteamData">
                        <div class="p-2 flex items-center">
                            <span class="inline-block pl-2 font-[200] text-xl">
                                <i class="fa-brands fa-steam-symbol"></i> {{user.liveSteamData.personaname}}
                            </span>
                        </div>

                        <div class="p-2 rounded-t-lg" style="
                        background: linear-gradient(
                        -25deg,
                        #263855e1,
                        #1e293b00,
                        #1e293b00,
                        #1e293b00
                        );
                        ">

                            <h1 class="text-lg text-[#7c7d72]">
                                Level {{ getLevelData(getExperienceValue(user.liveGameStats)).lvl }}
                            </h1>
                            <div class="progress-bar-container">
                                <div class="progress-bar"
                                    [style.width]="getLevelData(getExperienceValue(user.liveGameStats)).progress + '%'">
                                </div>
                            </div>
                            <div class="w-full text-right">
                                <span class="text-neutral-200 font-[300] text-sm">Level
                                    {{getLevelData(getExperienceValue(user.liveGameStats)).lvl + 1}}:
                                    {{ roundNumber(getLevelData(getExperienceValue(user.liveGameStats)).xp) + " / " + getLevelData(getExperienceValue(user.liveGameStats)).xpRq }}
                                    XP</span>
                            </div>




                        </div>
                    </div>



                </div>

                <!--  -->

                <div class="lg:row-start-2 p-4 place-self-start lg:col-start-1 col-span-1" *ngIf="user.liveSteamData">
                    <img [src]="user.liveSteamData.avatarfull"
                        class="h-auto w-[120px]  rounded-md shadow-sm hover:shadow-md transition-all duration-200">
                </div>

                <div *ngIf="!user.liveSteamData" class="p-4 row-start-2 lg:col-start-1 col-span-1">
                    <img src="https://wortool.com/assets/placeholder.png"
                        class="h-auto w-[120px]  rounded-md shadow-sm hover:shadow-md transition-all duration-200">
                </div>

                <!--  -->

                <div class="lg:col-start-2 col-span-1">

                    <div>
                        
                        <div *ngIf="user.liveGameStats" class="font-[300]">
                            <div class="grid lg:grid-cols-2 grid-cols-1 lg:w-fit p-4 gap-4">
                                <div class="lg:place-self-start">
                                    <h4 class="text-lg text-slate-300">Matches Played</h4>
                                    <ng-container *ngFor="let stat of user.liveGameStats">
                                        <p class="text-sm my-2" *ngIf="stat.name.startsWith('STAT_GAMES_PLAYED')">
                                            <span class="font-[200] pl-2 w-[40px] inline-block text-right">{{stat.value}}</span>
                                            <b class="pl-1">{{getGameType(stat.name)}}</b>
                                        </p>
                                    </ng-container>
                                </div>
                                <div class="lg:place-self-start">
                                    <h4 class="text-lg text-slate-300">Misc Stats</h4>
                                    <p class="text-sm my-2" *ngIf="getStatValue(user.liveGameStats, 'STAT_FLAG_PICKUPS')">
                                        <b class="pl-1 w-[100px] inline-block text-left">Flag Pickups</b>
                                        <span class="font-[200] pl-2 w-[80px] inline-block text-left">{{getStatValue(user.liveGameStats, 'STAT_FLAG_PICKUPS')}}</span>
                                    </p>
                                    <p class="text-sm my-2" *ngIf="getStatValue(user.liveGameStats, 'STAT_LOYALTY_BONUS') != null">
                                        <b class="pl-1 w-[100px] inline-block text-left">Loyalty Bonus</b>
                                        <span class="font-[200] pl-2 w-[80px] inline-block text-left">
                                            <span *ngIf="getStatValue(user.liveGameStats, 'STAT_LOYALTY_BONUS') == 1">Redeemed</span>
                                            <span *ngIf="getStatValue(user.liveGameStats, 'STAT_LOYALTY_BONUS') == 0">Not Redeemed</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        
                        

                        <div *ngIf="!user.liveGameStats" class="font-[300] place-self-center p-4">
                            User has no game stats for War of Rights, or it can not be retrieved.
                        </div>
                    </div>






                </div>

                <div
                    class="lg:col-start-3 lg:col-span-1 col-span-2 flex justify-end items-center mb-4 place-self-center lg:place-self-auto">
                    <span
                        class="text-sm font-[400] bg-slate-700 rounded-l-md p-2.5 inline-block shadow-md">{{user.unbanCode}}</span>
                    <button class="!inline-block !border-l-0 !rounded-l-none !max-h-[41px] !mb-[2px] !pb-[2px] lg:!mr-4"
                        mat-stroked-button color="primary" (click)="openSnackBar(
                        user.nickname + '\'s unban code copied to clipboard.',
                        6000
                    );
                    copyToClipboard(user.unbanCode)"><i class="fa-regular fa-copy"></i> Unban Code</button>
                </div>



                <!--  -->


            </div>
        </div>

    </div>

    <div class="w-full text-center">

        <button matTooltipClass="form-tooltip"
            matTooltipPosition="above"
            matTooltip="First Page" type="button" class="pagination-button" (click)="goToPage(1)" [disabled]="currentPage === 1"><i class="fa-solid fa-angles-left"></i></button>
            
        <button 
            matTooltipClass="form-tooltip"
            matTooltipPosition="above"
            matTooltip="Previous Page" type="button" class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-angle-left"></i></button>
    
        <button type="button" class="pagination-button" (click)="goToPage(currentPage - 1)" [hidden]="currentPage === 1">{{ currentPage - 1 }}</button>
        <button type="button" class="pagination-button" [disabled]="true">{{ currentPage }}</button>
        <button type="button" class="pagination-button" (click)="goToPage(currentPage + 1)" [hidden]="currentPage === getTotalPages()">{{ currentPage + 1 }}</button>
    
        <button matTooltipClass="form-tooltip"
            matTooltipPosition="above"
            matTooltip="Next Page"  type="button" class="pagination-button" (click)="nextPage()" [disabled]="currentPage === getTotalPages()"><i class="fa-solid fa-angle-right"></i></button>

        <button matTooltipClass="form-tooltip"
            matTooltipPosition="above"
            matTooltip="Last Page" type="button" class="pagination-button" (click)="goToPage(getTotalPages())" [disabled]="currentPage === getTotalPages()"><i class="fa-solid fa-angles-right"></i></button>
    </div>
    
    
    
      


</div>