<div class="lg:w-[72vw] w-[100vw - 2em] m-auto lg:mt-[3.5em] mt-[2em]">
  <!-- <h3 class="text-[#88887b] text-3xl tracking-tight mb-[1em]">Event Recaps</h3> -->

  <div *ngFor="let recap of recaps" class="rounded-lg w-full mb-10 bg-slate-800/80 shadow-lg">
    <div class="grid lg:grid-cols-[1fr_2fr] gird-rows-[80px_auto] grid-cols-2 gap-x-4">
      <div class="row-start-1 row-span-1 col-start-1 col-span-2 p-5 rounded-sm rounded-t-lg shadow-sm" style="
          background: linear-gradient(
            130deg,
            #263855e1,
            #1e293b00,
            #1e293b00,
            #1e293b00
          ),linear-gradient(
            -25deg,
            #263855e1,
            #1e293b00,
            #1e293b00,
            #1e293b00
          );
        ">
        <div class="grid grid-cols-2">
          <div>
            <p class="text-[#7c7d72] text-2xl font-[400]">
              {{ recap.serverName }}
            </p>
          </div>

          <div class="text-right place-self-end">
            <p class="text-neutral-300 text-base font-[300]" style="filter: drop-shadow(0px 0px 2px #7c7d72be);">
              {{ convertToLocaleTime(recap.endTime) }}
            </p>

            <p class="text-neutral-300 font-[300] text-base ml-2" style="filter: drop-shadow(0px 0px 2px #7c7d72be);">
              Battle lasted for {{ recap.duration }} minutes</p>

 
            
          </div>
        </div>

        <div class="w-full">
          <div class="min-w-min flex items-center">
            <p class="text-neutral-300 text-base font-[300] lg:mt-[-12px]"
              style="filter: drop-shadow(0px 0px 2px #7c7d72be);">
              {{ recap?.gameMode }} on <button class="!min-h-fit !h-fit" mat-button color="primary" [routerLink]="'/maps/'+recap.mapObject?.id">{{ recap?.area }} </button>
            </p>
          </div>
        </div>
      </div>

      <div
        class="row-start-2 col-start-1 lg:col-span-1 col-span-2 w-full h-full place-self-center my-auto flex items-center justify-center">
        <div class="w-full h-fit brightness-[75%] sepia-[60%] blur-[0.5px] rounded-r-md rounded-bl-md shadow-lg"
          [style.background-image]="'url(' + recap.randThumbnail + ')'"
          style="background-repeat: no-repeat; background-size: cover;">
          <img class="rounded-sm shadow-lg w-full max-w-[50vw] brightness-[55%] sepia-[50%] blur-[0.5px] invisible"
            [src]="recap.randThumbnail">
        </div>
      </div>



      <div class="lg:row-start-2 row-start-3 lg:col-start-2 col-start-1 col-span-2 lg:col-span-1 p-2 lg:p-4">

        <!-- Winner Div -->

        <div class="grid grid-cols-1 lg:grid-cols-[auto_auto] gap-5 w-full lg:min-w-[420px] h-fit mx-auto my-4">
          <div class="place-self-center">
            <p class="text-slate-400 text-xl font-[400]">Winner</p>
            <div class="pl-1 pt-1">

              <p class="font-[200] text-lg ml-2">
                <span class="inline mr-2 font-[700] font-serif text-neutral-300 text-3xl">{{ recap.winner }}</span>
                <img class="max-h-[22px] w-auto inline sepia brightness-85 opacity-80 mb-[10px]"
                  *ngIf="recap.winner == 'USA'" src="https://wortool.com/assets/usaReg.png" alt="USA Flag" />
                <img class="max-h-[22px] w-auto inline sepia brightness-85 opacity-80 mb-[10px]"
                  *ngIf="recap.winner == 'CSA'" src="https://wortool.com/assets/csaReg.png" alt="CSA Flag" />
              </p>
            </div>
          </div>
          <div>
            <!-- Stats Div -->

            <div
              class="grid grid-cols-[auto_85px_auto] gap-5 lg:w-fit w-full lg:min-w-[420px] h-fit mx-auto place-self-center my-4 px-8 lg:px-0">
              <div class="text-left">
                <p class="text-slate-400 text-lg font-[00]">USA Casualties</p>
                <div class="pl-1 pt-1 text-left text-neutral-200">
                  <!-- 
                  display these:
              "usaInFormation": 214,
              "usaSkirmishing": 56,
              "usaOutOfLine": 11, 
              -->
                  <p class="text-sm ml-2">In Formation <span class="font-[200] ml-1">{{ recap.usaInFormation }}</span>
                  </p>
                  <p class="text-sm ml-2">Skirmishing <span class="font-[200] ml-1">{{ recap.usaSkirmishing }}</span>
                  </p>
                  <p class="text-sm ml-2">Out of Line <span class="font-[200] ml-1">{{ recap.usaOutOfLine }}</span></p>
                </div>
              </div>
              <div class="place-self-center text-neutral-200 font-[200]"
                style="filter: drop-shadow(0px 0px 2px #7c7d72be);">
                VS.
              </div>


              <div class="text-right">
                <p class="text-slate-400 text-lg font-[00]">CSA Casualties</p>
                <div class="pr-1 pt-1 text-right text-neutral-200">
                  <p class="text-sm mr-2"><span class="font-[200] mr-1">{{ recap.csaInFormation }}</span> In Formation
                  </p>
                  <p class="text-sm mr-2"><span class="font-[200] mr-1">{{ recap.csaSkirmishing }}</span> Skirmishing
                  </p>
                  <p class="text-sm mr-2"><span class="font-[200] mr-1">{{ recap.csaOutOfLine }}</span> Out of Line</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->


        <!-- Player Div -->
        <div
          class="grid grid-cols-[auto_auto] gap-5 lg:gap-x-8 w-full h-fit mx-auto place-self-center text-neutral-400">
          <div>
            <p class="text-lg font-[400] skewed-text">USA Players</p>
            <div class="pl-1 pt-1" style="border-left: dotted 1px #7c7d738f">
              <div class="md:columns-2 columns-1">

                <!--  -->
                <div *ngIf="!isDataLoaded" class="lds-ellipsis">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>


                <div *ngIf="isDataLoaded">
                  <div *ngFor="let player of recap.players">
                    <div class="font-[200] text-sm ml-2 grid grid-cols-[16px_auto] gap-1" *ngIf="player.TeamId === 1">

                      <div class="place-content-center">
                        <img [src]="player.avatar"
                          class="max-h-[16px] w-auto inline sepia-[60%] brightness-75 rounded-full">
                      </div>
                      <div class="place-content-center">
                        <div *ngIf="player.Admin" class="text-red-500 truncate">{{ player.Nickname }}</div>
                        <div *ngIf="player.Developer" class="text-blue-500 truncate">{{ player.Nickname }}</div>
                        <div *ngIf="!player.Admin && !player.Developer" class="truncate">{{player.Nickname }}</div>
                      </div>

                    </div>
                  </div>
                </div>
                <!--  -->

              </div>
            </div>
          </div>
          <div>
            <p class="text-lg font-[400] skewed-textR">CSA Players</p>
            <div class="pl-1 pt-1" style="border-right: dotted 1px #7c7d738f">
              <div class="md:columns-2 columns-1">

                <!--  -->
                <div *ngIf="!isDataLoaded" class="lds-ellipsis">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>

                <div *ngIf="isDataLoaded">
                  <div *ngFor="let player of recap.players">
                    <div class="font-[200] text-sm ml-2 grid grid-cols-[16px_auto] gap-1 pointer-events-none"
                      *ngIf="player.TeamId === 2">

                      <div class="place-content-center">
                        <img [src]="player.avatar"
                          class="max-h-[16px] w-auto inline sepia-[60%] brightness-75 rounded-full">
                      </div>
                      <div class="place-content-center">
                        <div class="nickname-text">
                          <div *ngIf="player.Admin" class="text-red-500 truncate">{{ player.Nickname }}</div>
                          <div *ngIf="player.Developer" class="text-blue-500 truncate">{{ player.Nickname }}</div>
                          <div class="" *ngIf="!player.Admin && !player.Developer" class="truncate">{{ player.Nickname }}</div>
                        </div>
                      </div>
                      

                    </div>
                  </div>
                </div>

                <!--  -->

              </div>
            </div>
          </div>
        </div>

        <!--  -->





      </div>
    </div>
  </div>
</div>

<!-- 
    EXAMPLE RECAP OBJECT:
    
    {
    "id": 9,
    "serverName": "Example Event Hosted by Dad",
    "players": [
        {
            "Admin": false,
            "TeamId": 1,
            "SteamID": 76561198002413200,
            "Nickname": "",
            "Developer": true
        },
        {
            "Admin": true,
            "TeamId": 2,
            "SteamID": 76561198000469630,
            "Nickname": "PA-[HQ] QM. Molex",
            "Developer": false
        },
        {
            "Admin": true,
            "TeamId": 2,
            "SteamID": 76561198309525360,
            "Nickname": "PA-LtCol.Ninja",
            "Developer": false
        },
        {
            "Admin": true,
            "TeamId": 2,
            "SteamID": 76561197995236050,
            "Nickname": "PA-[72ndPVI] Sgt. Oney",
            "Developer": false
        }
    ],
    "map": "Hatchs Attack",
    "gameMode": "Skirmish",
    "area": "South Mountain",
    "winner": "USA",
    "duration": 90,
    "startTime": "1689263677",
    "endTime": "1689263767",
    "usaInFormation": 214,
    "usaSkirmishing": 56,
    "usaOutOfLine": 11,
    "csaInFormation": 950,
    "csaSkirmishing": 174,
    "csaOutOfLine": 37,
    "mapObject": {
        "id": 31,
        "map": "Hatchs Attack",
        "image": "assets/maps/hatchs-attack.jpg",
        "usaArty": "",
        "csaArty": "",
        "campaign": "South Mountain",
        "youtube": "_T3nVNGmy78",
        "attacker": "USA",
        "strat": "EDLhrOKIUoV"
    }
} -->