.skewed-textR {
	display: block;
	text-align: right;
	background: linear-gradient(-90deg, #7c7d72a2, #7c7d7200);
	padding-right: 1em;
	font-size: 0.875rem;
}

.skewed-text {
	display: block;
	text-align: left;
	background: linear-gradient(90deg, #7c7d72a2, #7c7d7200);
	padding-left: 1em;
	font-size: 0.875rem;
}

.icon {
	animation: swayAnimation 2s infinite linear;
	transform-origin: center;
}

@keyframes swayAnimation {
	0% {
		transform: translateX(-10%) rotateZ(-15deg)
	}

	50% {
		transform: translateX(10%) rotateZ(15deg);
	}

	100% {
		transform: translateX(-10%) rotateZ(-15deg);
	}
}


.lds-ellipsis{
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div{
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1){
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2){
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3){
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4){
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(24px, 0);
    }
}

.truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
  }