.wpn-table .mat-header-row {
    font-family: 'Poppins', sans-serif;
    font-weight: 900 !important;
    background-color: #101727;
    color: white;
}

.wpn-table .mat-row {
    font-family: 'Poppins', sans-serif;
    font-weight: 200 !important;
    background-color: #1c2638;
    color: white;
}