button.active {
	background-color: #7c7d724f;
	font-weight: 600;
}

.mat-expansion-panel {
	background: linear-gradient(-27deg, #1c2638, #1c26388c);
}

button {
	margin-bottom: 10px;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 400;
	color: #a2a398 !important;
}