
<div>
    <h2>Discord Component</h2>
    <div>
      <label for="guildId">Guild ID:</label>
      <input type="text" id="guildId" [(ngModel)]="guildId">
    </div>
    <div>
      <label for="channelId">Channel ID:</label>
      <input type="text" id="channelId" [(ngModel)]="channelId">
    </div>
    <div>
      <label for="message">Message:</label>
      <input type="text" id="message" [(ngModel)]="message">
    </div>
    <div>
      <button (click)="sendMessage()">Send Message</button>
    </div>
  </div>
  