<div *ngIf="loading" class="text-center text-xl opacity-75">
	<i class="fas fa-spinner fa-pulse mr-2"></i>
	Verifying credentials...
</div>



<div *ngIf="!loading" class="lg:w-[69vw] w-[100vw - 2em] m-auto mt-[4em]">


	<div *ngIf="!showAdmin && isLoggedIn" class="p-5 bg-[#1c2537] rounded-md" style="border-left: 5px solid #a13c3c;">
		<div class="grid grid-cols-1 sm:grid-cols-[120px_minmax(900px,_1fr)_100px] grid-rows-2 sm:grid-rows-none">
			<div class="row-start-2 sm:row-start-auto">
				<button
					class="!my-4 bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 opacity-[65%] !transition !duration-300 ease-in hover:opacity-[80%]"
					mat-button routerLink="/home">
					<i class="fa-solid fa-house mr-1.5"></i>
					Home
				</button>
			</div>


			<div class="row-start-1 sm:row-start-auto">
				<h3 class="text-xl my-2">
					You do not have access to this feature
				</h3>
				<p>
					You do not have the necessary permissions to view this content.
				</p>
			</div>
		</div>
	</div>



	<div *ngIf="!isLoggedIn" class="p-5 bg-[#1c2537] rounded-md" style="border-left: 5px solid #a13c3c;">
		<div class="grid grid-cols-1 sm:grid-cols-[120px_minmax(900px,_1fr)_100px] grid-rows-2 sm:grid-rows-none">
			<div class="row-start-2 sm:row-start-auto">
				<button
					class="!my-4 bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 opacity-[65%] !transition !duration-300 ease-in hover:opacity-[80%]"
					mat-button routerLink="/home">
					<i class="fa-solid fa-house mr-1.5"></i>
					Home
				</button>
			</div>


			<div class="row-start-1 sm:row-start-auto">
				<h3 class="text-xl my-2">
					Please login to continue
				</h3>
				<p>
					You must be logged in to access this content.
				</p>
			</div>
		</div>
	</div>


	<div *ngIf="showAdmin">
		<h3 class="text-[#88887b] text-3xl tracking-tight mb-[1em]">
			Administrator Dashboard
		</h3>


		<button routerLink="/home" mat-button color="primary" class="!mb-[1em]">
			<i class="fa-sharp fa-solid fa-arrow-left"></i>
			Back
		</button>


		<div class="grid lg:grid-cols-3 lg:gap-4 grid-cols-1">
			<div class="col-span-1 bg-slate-800/80 rounded-lg shadow-md h-fit">
				<div class>


					<mat-list class="my-2">
						<mat-action-list>
							<button routerLinkActive="active_btn" routerLink="/admin/1" mat-list-item
								class="py-2 !text-neutral-300 !h-[55px]">
								<i class="fa-sharp fa-solid fa-map w-[25px] ml-[1.5em] mr-[0.5em] !text-white"></i>
								Manage Maps
							</button>



							<mat-divider></mat-divider>



							<button routerLinkActive="active_btn" routerLink="/admin/2" mat-list-item
								class="py-2 !text-neutral-300 !h-[55px]">
								<i class="fa-solid fa-gun w-[25px] ml-[1.5em] mr-[0.5em] !text-white"></i>
								Manage Weapons
							</button>



							<mat-divider></mat-divider>



							<button routerLinkActive="active_btn" routerLink="/admin/3" mat-list-item
								class="py-2 !text-neutral-300 !h-[55px]">
								<i
									class="fa-sharp fa-solid fa-person-military-rifle w-[25px] ml-[1.5em] mr-[0.5em] !text-white"></i>
								Manage Regiments
							</button>
						</mat-action-list>



					</mat-list>



				</div>
			</div>



			<div class="lg:col-span-2 col-span-1 lg:ml-5 w-full mt-[1em] lg:mt-[unset]">



				<div *ngIf="showPage1"
					class="w-full rounded-lg py-[1.5em] px-[2em] mx-auto bg-slate-800/80 scale-center">
					<h2 class="text-2xl  text-slate-400 py-4">Edit Maps</h2>
				</div>
				<div *ngIf="showPage2"
					class="w-full rounded-lg py-[1.5em] px-[2em] mx-auto bg-slate-800/80 scale-center">
					<h2 class="text-2xl  text-slate-400 py-4">Manage Weapons</h2>
					<form (ngSubmit)="createOrUpdateWeapon()">
						<div class="form-group m-4">

							<div class="mb-6 max-w-fit">

								<button *ngIf="isUpdating || isCreating" mat-button (click)="back()" color="primary">
									<i class="fa-sharp fa-solid fa-arrow-left"></i> Cancel
								</button>
								<div *ngIf="!isUpdating && !isCreating" class="lg:columns-2 text-center lg:text-left">


									<div>
										<span class="text-neutral-200">Modify Existing</span>
										<select [(ngModel)]="selectedWeaponId" name="selectedWeapon"
											class="field-input my-[0.5em] text-xl !inline-block hover:!scale-100 focus:!scale-100 !transition-none" id="existing-select"
											(change)="handleSelectionChange()">
											<option value="" selected>Select a weapon...</option>
											<option *ngFor="let weapon of weaponsList" [value]="weapon.id">{{
												weapon.weapon }}</option>
										</select>
									</div>



									<div>
										<span class="hidden sm:block">&nbsp;</span>
										<button (click)="createNew()" type="button" class="!h-[60px] !mt-[8px] text-neutral-200 font-[300] text-xl"
											mat-stroked-button>Create New...</button>
									</div>

								</div>


							</div>


							<div *ngIf="isCreating || isUpdating">

								

								<div *ngIf="isUpdating" class="my-5 text-neutral-300 font-[300]">
									<i class="fa-regular fa-pencil pr-2"></i> {{weaponName}} <span class="float-right">Weapon ID: {{selectedWeaponId}}</span>
								</div>
								
								<div class="field-box">
									<select matTooltipClass="form-tooltip" matTooltipPosition="left" matTooltip="Weapon Category" [(ngModel)]="weaponType" name="weaponType" class="field-input my-[0.5em] text-xl !inline-block hover:!scale-100 focus:!scale-100 !transition-none" id="existing-select">
									  <option value="" disabled selected>Weapon Category</option>
									  <option value="Rifle">Rifle</option>
									  <option value="Revolver">Revolver</option>
									  <option value="Sword">Sword</option>
									  <option value="Artillery">Artillery</option>
									</select>
									<i class="fa-solid fa-bars-sort field-icon pb-2 focus:!transform-none"></i>
								  </div>

								  <mat-divider class="!my-5"></mat-divider>

								<div class="field-box">
									<input matTooltipClass="form-tooltip" matTooltipPosition="left" matTooltip="Weapon Name" [(ngModel)]="weaponName" name="weaponName" class="field-input my-[0.5em]"
										type="text" placeholder="Weapon name...">
									<i class="fa-light fa-input-text field-icon"></i>
								</div>


								<div class="field-box">
									<input matTooltipClass="form-tooltip" matTooltipPosition="left" matTooltip="Weapon Range" [(ngModel)]="weaponRange" name="weaponRange" class="field-input my-[0.5em]"
										type="text" placeholder="Effective range...">
									<i class="fa-sharp fa-regular fa-bullseye field-icon"></i>
								</div>

								<div class="field-box">
									<input matTooltipClass="form-tooltip" matTooltipClass="form-tooltip" matTooltipPosition="left" matTooltip="Weapon Length (Full length over barrel for melee distance)" [(ngModel)]="weaponLength" name="weaponLength" class="field-input my-[0.5em]"
										type="text" placeholder="Weapon length...">
									<i class="fa-sharp fa-light fa-ruler field-icon"></i>
								</div>

								<div class="field-box">
									<input matTooltipClass="form-tooltip" matTooltipPosition="left" matTooltip="Weapon Ammo/Caliber" [(ngModel)]="weaponAmmo" name="weaponAmmo" class="field-input my-[0.5em]"
										type="text" placeholder="Ammo type...">
									<i class="fa-regular fa-box field-icon"></i>
								</div>

								<div class="field-box">
									<input matTooltipClass="form-tooltip" matTooltipPosition="left" matTooltip="Weapon Image URL" [(ngModel)]="weaponImage" name="weaponImage" class="field-input my-[0.5em]"
										type="text" placeholder="image url...">
									<i class="fa-sharp fa-regular fa-image field-icon"></i>
								</div>

								<div class="field-box">
									<input matTooltipClass="form-tooltip" matTooltipPosition="left" matTooltip="Extra Notes" [(ngModel)]="weaponNotes" name="weaponNotes" class="field-input my-[0.5em]"
										type="text" placeholder="Weapon notes...">
									<i class="fa-light fa-note field-icon"></i>
								</div>

							</div>
						</div>


						<button *ngIf="isCreating && !isUpdating" mat-raised-button type="submit"
							class="w-full !mt-[0.5em] !py-2 !sm:py-[5px] sm:text-lg text-xl bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 opacity-[65%] !transition !duration-300 ease-in hover:opacity-[80%]">
							Create Weapon
						</button>

						<button *ngIf="isUpdating && !isCreating" mat-raised-button type="submit"
							class="w-full !mt-[0.5em] !py-2 !sm:py-[5px] sm:text-lg text-xl bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 opacity-[65%] !transition !duration-300 ease-in hover:opacity-[80%]">
							Update Weapon
						</button>

						<button (click)="confirmDelete()" *ngIf="isUpdating && !isCreating" mat-stroked-button type="button"
							class="w-full !mt-[0.5em] !py-2 !sm:py-[5px] sm:text-lg text-xl">
							Delete Weapon
						</button>


					</form>
				</div>
				<div *ngIf="showPage3"
					class="w-full rounded-lg py-[1.5em] px-[2em] mx-auto bg-slate-800/80 scale-center">
					<h2 class="text-2xl  text-slate-400 py-4">Edit Regiments</h2>
				</div>


			</div>



		</div>



	</div>
</div>