<div class="lg:w-[90vw] w-[100vw - 2em] m-auto mt-[4em] scroll-container">

  <div class="grid grid-cols-1 lg:grid-cols-4 lg:gap-10">

    <div class="my-[1em] col-start-1 col-span-1">

      <div style="position: sticky; top: 160px;" class="filter-container">

        <div class="filter-options">
          <div class="search-box">
            <input class="search-input" type="text" [(ngModel)]="searchText" (input)="filterMaps()"
              placeholder="Search maps..." />
            <i class="fa-solid fa-search search-icon"></i>
          </div>
        </div>



        <!--  -->
        <!-- Hidden for mobile view -->
        <div class="hidden lg:inline-block">
          <div class="filter-options mt-[1em]">
            <label class="filter-label">
              <input disabled="true" class="hidden" type="checkbox" [(ngModel)]="filterByCampaign"
                (change)="filterMaps()" />
              <span class="filter-text test">Filter by Campaign</span>
            </label>
          </div>

          <div class="filter-options" *ngIf="filterByCampaign">
            <div class="checkbox-columns p-[1em] mt-[-16px]" style="border-left: dotted 1px #7c7d738f;">
              <label *ngFor="let campaign of uniqueCampaigns" class="filter-label !inline-block">
                <input type="checkbox" [checked]="isCampaignSelected(campaign)"
                  (change)="toggleCampaignSelection(campaign)" />
                <span class="filter-text">{{ campaign }}</span>
              </label>
            </div>
          </div>


          <div class="filter-options mt-[1em]">
            <label class="filter-label">
              <span class="filter-text test">Filter by Artillery</span>
            </label>
          </div>

          <div class="filter-options">
            <div class="checkbox-columns p-[1em] mt-[-16px]" style="border-left: dotted 1px #7c7d738f;">
              <label class="filter-label !inline-block">
                <input type="checkbox" [(ngModel)]="filterByArtillery" (change)="filterMapsByArtillery()">
                <span class="filter-text">Has Artillery</span>
              </label>
            </div>
          </div>


          <button (click)="scrollToTop()" mat-stroked-button color="primary">Scroll to Top</button>

        </div>


      </div>


      <!-- Visible for mobile view -->
      <div class="lg:hidden inline-block">
        <div class="filter-options mt-[1em]">
          <span class="toggle-icon cursor-pointer !text-[#7c7d72] select-none" (click)="toggleFilterByCampaign()">
            <span class="filter-toggle" [class.active]="filterByCampaign">
              <i class="fa-light fa-square" *ngIf="!filterByCampaign"></i>
              <i class="fa-solid fa-square-check" *ngIf="filterByCampaign"></i>
            </span>
            <span class="filter-text font-[900] pl-2">Filter by Campaign</span>
          </span>
        </div>
        <div class="filter-options" *ngIf="filterByCampaign">
          <div class="checkbox-columns ml-[2em]">
            <label *ngFor="let campaign of uniqueCampaigns" class="filter-label">
              <input type="checkbox" [checked]="isCampaignSelected(campaign)"
                (change)="toggleCampaignSelection(campaign)" />
              <span class="filter-text">{{ campaign }}</span>
            </label>
          </div>
        </div>
      </div>



      <!--  -->

    </div>

    <!--  -->
    <div class="lg:col-start-2 lg:col-span-3">
      <div *ngIf="!showMapPage" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-7">
        <div class="bg-slate-800/80 rounded-lg py-4 ring-1 ring-slate-900/5 shadow-xl w-full m-auto animate-load"
          *ngFor="let map of map; index as i;">
          <h4>
            <span class="text-white/90 text-xl font-serif tracking-tight px-4 pb-1 text-left">{{ map.map }}</span>
            <span class="text-slate-400/80 text-sm px-4 font-serif tracking-tight text-right float-right">{{
              map.campaign }}</span>
          </h4>
          <div class="rounded-sm my-2 shadow-md brightness-[55%] sepia-[50%] blur-[0.5px]"
            style="background-image: url('https://app.paarmy.com/{{map.image}}');background-size: 250px;height:250px;background-size: cover;opacity: 80%;">
          </div>

          <div class="px-2 mb-[-8px] text-right">
            <button mat-button color="accent" class="text-[15px] font-[500]" [class.active]="i == currentIndex"
              [routerLink]="map.id">
              Enhance <i class="fa-solid fa-magnifying-glass" style="margin-left:5px;margin-top:-2px;"></i>
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="fixed bottom-4 right-4">
      <button (click)="scrollToTop()" mat-mini-fab class="!text-[#a09e94] text-xl !bg-slate-700">
        <i class="fa-light fa-arrow-up-to-line"></i>
      </button>
    </div>


  </div>






  <app-map-details *ngIf="showMapPage" [viewMode]="true" [currentMap]="currentMap"></app-map-details>


</div>