<div class="lg:w-[90vw] w-[100vw - 2em] m-auto lg:mt-[3.5em] mt-[2em] scroll-container mb-[4em]">


	<div class="grid grid-cols-1 lg:grid-cols-4 lg:gap-8">


		<div class="my-[1em] col-start-1 col-span-1 relative">


			<div class="filter-container my-[auto] lg:top-[5em] lg:sticky">


				<div class="filter-options">
					<div class="search-box">
						<input [(ngModel)]="searchText"
							(input)="filterMaps()"
							class="search-input"
							type="text"
							placeholder="Search maps...">
						<i class="fa-solid fa-search search-icon"></i>
						<span *ngIf="searchText"
							(click)="clearSearchText()"
							class="clear-button">
							&times;
						</span>
					</div>
				</div>




				<!-- Hidden for mobile view -->
				<div class="hidden lg:inline-block lg:w-[95%]">
					<div class="filter-options mt-[1em]">
						<span (click)="toggleFilterCampaign()"
							class="toggle-icon cursor-pointer !text-[#7c7d72] select-none">
							<span class="filter-text test">
								<span [class.active]="filterByCampaign"
									class="filter-toggle">
									<span *ngIf="!filterByCampaign">
										<i class="fa-sharp fa-solid fa-plus"></i>
									</span>
									<span *ngIf="filterByCampaign">
										<i class="fa-sharp fa-solid fa-minus"></i>
									</span>
								</span>
								Filter by Campaign
							</span>
						</span>
					</div>
					<div *ngIf="filterByCampaign"
						class="filter-options">
						<div class="checkbox-columns"
							style="border-left: dotted 1px #7c7d738f;padding: 8px;">
							<mat-checkbox *ngFor="let campaign of uniqueCampaigns"
								[checked]="isCampaignSelected(campaign)"
								(change)="toggleCampaignSelection(campaign)">
								{{ campaign }}
							</mat-checkbox>
						</div>
					</div>


					<div class="filter-options">
						<label class="filter-label">
							<span (click)="toggleArty()" class="toggle-icon cursor-pointer !text-[#7c7d72] select-none">
								<span class="filter-text test">
									<span [class.active]="showArtyDesktop" class="filter-toggle">
										<span *ngIf="!showArtyDesktop">
											<i class="fa-sharp fa-solid fa-plus"></i>
										</span>
										<span *ngIf="showArtyDesktop">
											<i class="fa-sharp fa-solid fa-minus"></i>
										</span>
									</span>
									Filter by Artillery
								</span>
							</span>
						</label>
					</div>
					
					<div *ngIf="showArtyDesktop">
						<div class="filter-options">
							<div class="checkbox-columns" style="border-left: dotted 1px #7c7d738f; padding: 5px;">
								<mat-checkbox [(ngModel)]="filterByUsaArtillery" (change)="filterMaps()">
									USA Artillery
								</mat-checkbox>
								<mat-checkbox [(ngModel)]="filterByCsaArtillery" (change)="filterMaps()">
									CSA Artillery
								</mat-checkbox>
							</div>
						</div>
					</div>
					
					<div *ngIf="isLoggedIn" class="filter-options">
						<label class="filter-label">
							<span (click)="toggleFavorites()" class="toggle-icon cursor-pointer !text-[#7c7d72] select-none">
								<span class="filter-text test">
									<span [class.active]="showFavoritesDesktop" class="filter-toggle">
										<span *ngIf="!showFavoritesDesktop">
											<i class="fa-sharp fa-solid fa-plus"></i>
										</span>
										<span *ngIf="showFavoritesDesktop">
											<i class="fa-sharp fa-solid fa-minus"></i>
										</span>
									</span>
									Filter by Favorites
								</span>
							</span>
						</label>
					</div>
					
					<div *ngIf="showFavoritesDesktop && isLoggedIn">
						<div class="filter-options">
							<div *ngIf="isLoggedIn" class="filter-options">
								<div class="checkbox-columns" style="border-left: dotted 1px #7c7d738f; padding: 5px;">
									<mat-checkbox [(ngModel)]="showFavoritesOnly" (change)="filterMaps()">
										Favorites Only
									</mat-checkbox>
								</div>
							</div>
						</div>
					</div>
					
					<div class="filter-options">
						<label class="filter-label">
							<span (click)="toggleAttacker()" class="toggle-icon cursor-pointer !text-[#7c7d72] select-none">
								<span class="filter-text test">
									<span [class.active]="showAttackerDesktop" class="filter-toggle">
										<span *ngIf="!showAttackerDesktop">
											<i class="fa-sharp fa-solid fa-plus"></i>
										</span>
										<span *ngIf="showAttackerDesktop">
											<i class="fa-sharp fa-solid fa-minus"></i>
										</span>
									</span>
									Filter by Attacker
								</span>
							</span>
						</label>
					</div>
					
					<div *ngIf="showAttackerDesktop">
						<div class="filter-options">
							<div class="checkbox-columns" style="border-left: dotted 1px #7c7d738f; padding: 5px;">
								<mat-radio-group [(ngModel)]="selectedAttacker" (change)="filterMaps()">
									<mat-radio-button value="USA">USA Attacker</mat-radio-button>
									<mat-radio-button value="CSA">CSA Attacker</mat-radio-button>
									<mat-radio-button value="Any">Any Attacker</mat-radio-button>
								</mat-radio-group>
							</div>
						</div>
					</div>
					



					<div class="text-right">
						<button (click)="clearFilters()"
							mat-button
							class="!mr-2 !text-[#7d7e73]">
							Clear Filters
						</button>
						<button (click)="scrollToTop()"
							mat-stroked-button
							class="!text-[#7d7e73]">
							Scroll to Top
						</button>
					</div>


				</div>
			</div>



			<!-- Visible for mobile view -->
			<div class="lg:hidden inline-block left-in w-full">
				

				<div class="filter-options mt-[1em]">
					<span (click)="toggleFilterByCampaign()" class="toggle-icon cursor-pointer !text-[#7c7d72] select-none">
						<span class="filter-text test">
							<span [class.active]="filterByCampaignDiv" class="filter-toggle">
								<span *ngIf="!filterByCampaignDiv">
									<i class="fa-sharp fa-solid fa-plus"></i>
								</span>
								<span *ngIf="filterByCampaignDiv">
									<i class="fa-sharp fa-solid fa-minus"></i>
								</span>
							</span>
							Filter by Campaign
						</span>
					</span>
				</div>
				<div *ngIf="filterByCampaignDiv" class="filter-options">
					<div class="checkbox-columns ml-[0.5em]">
						<mat-checkbox *ngFor="let campaign of uniqueCampaigns" [checked]="isCampaignSelected(campaign)"
							(change)="toggleCampaignSelection(campaign)">
							{{ campaign }}
						</mat-checkbox>
					</div>
				</div>
			
				<div class="filter-options mt-[0.7em]">
					<label class="filter-label">
						<span (click)="toggleArtyDiv()" class="toggle-icon cursor-pointer !text-[#7c7d72] select-none">
							<span class="filter-text test">
								<span [class.active]="showArtyDiv" class="filter-toggle">
									<span *ngIf="!showArtyDiv">
										<i class="fa-sharp fa-solid fa-plus"></i>
									</span>
									<span *ngIf="showArtyDiv">
										<i class="fa-sharp fa-solid fa-minus"></i>
									</span>
								</span>
								Filter by Artillery
							</span>
						</span>
					</label>
				</div>
				<div *ngIf="showArtyDiv" class="filter-options">
					<div class="checkbox-columns ml-[1em]">
						<mat-checkbox [(ngModel)]="filterByUsaArtillery" (change)="filterMaps()">USA Artillery</mat-checkbox>
						<mat-checkbox [(ngModel)]="filterByCsaArtillery" (change)="filterMaps()">CSA Artillery</mat-checkbox>
					</div>
				</div>
			
				<div *ngIf="isLoggedIn" class="filter-options mt-[0.7em]">
					<label class="filter-label">
						<span (click)="toggleFavoritesDiv()" class="toggle-icon cursor-pointer !text-[#7c7d72] select-none">
							<span class="filter-text test">
								<span [class.active]="showFavoritesDiv" class="filter-toggle">
									<span *ngIf="!showFavoritesDiv">
										<i class="fa-sharp fa-solid fa-plus"></i>
									</span>
									<span *ngIf="showFavoritesDiv">
										<i class="fa-sharp fa-solid fa-minus"></i>
									</span>
								</span>
								Filter by Favorites
							</span>
						</span>
					</label>
				</div>
				<div *ngIf="showFavoritesDiv && isLoggedIn" class="filter-options">
					<div *ngIf="isLoggedIn" class="filter-options">
						<div class="checkbox-columns" style="border-left: dotted 1px #7c7d738f;">
							<mat-checkbox [(ngModel)]="showFavoritesOnly" (change)="filterMaps()">Favorites Only</mat-checkbox>
						</div>
					</div>
				</div>
			
				<div class="filter-options mt-[0.7em]">
					<label class="filter-label">
						<span (click)="toggleAttackerDiv()" class="toggle-icon cursor-pointer !text-[#7c7d72] select-none">
							<span class="filter-text test">
								<span [class.active]="showAttackerDiv" class="filter-toggle">
									<span *ngIf="!showAttackerDiv">
										<i class="fa-sharp fa-solid fa-plus"></i>
									</span>
									<span *ngIf="showAttackerDiv">
										<i class="fa-sharp fa-solid fa-minus"></i>
									</span>
								</span>
								Filter by Attacker
							</span>
						</span>
					</label>
				</div>
				<div *ngIf="showAttackerDiv" class="filter-options">
					<div class="checkbox-columns ml-[1em]">
						<mat-radio-group [(ngModel)]="selectedAttacker" (change)="filterMaps()">
							<mat-radio-button value="USA">USA Attacker</mat-radio-button>
							<mat-radio-button value="CSA" class="mt-[0.5em]">CSA Attacker</mat-radio-button>
							<mat-radio-button value="Any" class="mt-[0.5em]">Any Attacker</mat-radio-button>
							<mat-radio-button value="No" class="mt-[0.5em]">No Attacker</mat-radio-button>
						</mat-radio-group>
					</div>
				</div>
				


				<button (click)="clearFilters()"
					mat-button
					class="float-right mt-[0.5em]"
					color="primary">
					Clear Filters
				</button>
			</div>


		</div>



		<!--  -->
		<div class="lg:col-start-2 lg:col-span-3 mb-[4em]">
			<div *ngIf="!showMapPage && !loading"
				class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-7">
				<div *ngFor="let map of map; index as i;"
					class="bg-slate-800/80 rounded-lg py-4 ring-1 ring-slate-900/5 shadow-xl w-full m-auto animate-load">
					<h4>
						<span class="text-slate-200 text-xl tracking-tight px-4 pb-1 text-left !select-text">{{ map.map }}</span>
						<span class="text-slate-400/80 text-sm px-4  tracking-tight text-right float-right">
							{{
							map.campaign }}
						</span>
					</h4>
					<div class="rounded-sm my-2 shadow-md brightness-[55%] sepia-[50%] blur-[0.5px]"
						style="background-image: url('https://wortool.com/{{map.image}}');background-size: 250px;height:250px;background-size: cover;opacity: 80%;">
					</div>


					<div class="grid grid-cols-2 gap-2 mb-[-8.5px]">


						<div class="cols-start-1 col-span-1 my-auto mr-auto pl-4 text-left">
							<div *ngIf="map.attacker === 'USA'"
								class>
								<span class=" opacity-40">USA Attacker</span>
							</div>


							<div *ngIf="map.attacker === 'CSA'"
								class>
								<span class=" opacity-40">CSA Attacker</span>
							</div>


							<div *ngIf="map.attacker === 'No'"
								class>
								<span class=" opacity-40">No Attacker</span>
							</div>
						</div>



						<div class="cols-start-2 col-span-1 my-auto ml-auto text-right">
							<button [class.active]="i == currentIndex"
								[routerLink]="map.id"
								mat-button
								color="accent"
								class="text-[15px] font-[500] !mr-1">
								Enhance
								<i class="fa-solid fa-magnifying-glass"
									style="margin-left:5px;margin-top:-2px;"></i>
							</button>
						</div>
					</div>


				</div>
			</div>
		</div>


		<div class="fixed bottom-4 right-4">
			<button (click)="scrollToTop()"
				mat-mini-fab
				class="!text-[#a09e94] text-xl !bg-slate-700">
				<i class="fa-solid fa-angles-up"></i>
			</button>
		</div>


	</div>


	<app-map-details *ngIf="showMapPage"
		[viewMode]="true"
		[currentMap]="currentMap"></app-map-details>


</div>