<div class="container mx-auto mt-[1em] scroll-container mb-[4em]">

    <div *ngIf="!isLoaded" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div *ngIf="isLoaded" class="grid md:grid-cols-[0.55fr_2fr] gap-2 md:gap-6">
        <div class="p-2 h-fit md:sticky md:top-[3em]">

            <div class="mb-6">
                <div class="my-2">
                    <div class="field-box">
                        <input type="text" class="field-input" placeholder="Search name..." [(ngModel)]="searchText" (keyup)="filterMaps()">
                        <i class="field-icon fas fa-search"></i>
                    </div>
                </div>
                
                <!-- Sorting Criterion/Direction -->
                <div class="flex items-center w-full">
                    <div class="text-left flex-grow">
                        <select class="sort-select w-full" [(ngModel)]="sortBy" (change)="sortMaps()">
                            <option value="favorites">Sort by Favorites</option>
                            <option value="name">Sort Alphabetically</option>
                        </select>
                    </div>
                    <div class="text-right ml-2">
                        <button class="sort-button" (click)="toggleSortDirection(); sortMaps()">
                            {{ sortDirection === 'ascending' ? 'ASC ↑' : 'DESC ↓' }}
                        </button>
                    </div>
                </div>
                
            </div>
   
            <!-- Filter by Favorites -->
            <div *ngIf="this.sharedDataService.isLoggedIn" class="border-x border-b border-[#88887be6] rounded-t-md my-3 opacity-70 hover:opacity-100 transition-opacity duration-200">
                <div class="px-2 py-1.5 rounded-t-md" style="background: linear-gradient(90deg, #88887be6, #88887b7a);">
                    <div class="text-neutral-200 text-base font-[400] tracking-tight overflow-hidden whitespace-nowrap" style="max-width: 100%;text-overflow: ellipsis;">My Favorites</div>
                </div>
                <div class="p-2 max-h-[300px]">
                    <div class="checkbox-wrapper-47">
                            <input id="fav-check" type="checkbox" [(ngModel)]="filterFavorites" (change)="filterMaps()"> 
                            <label for="fav-check" class="text-sm">{{this.sharedDataService.currentUser.username}}'s Favorites</label>
                    </div>
                </div>
            </div>


            <!-- Filter By Artillery -->
            <div class="border-x border-b border-[#88887be6] rounded-t-md my-3 opacity-70 hover:opacity-100 transition-opacity duration-200">
                <div class="px-2 py-1.5 rounded-t-md" style="background: linear-gradient(90deg, #88887be6, #88887b7a);">
                    <div class="text-neutral-200 text-base font-[400] tracking-tight overflow-hidden whitespace-nowrap" style="max-width: 100%;text-overflow: ellipsis;">Artillery</div>
                </div>
                <div class="p-2 max-h-[300px]">
                    <div class="checkbox-wrapper-47">
                        <input id="csa-artillery-check" type="checkbox" [(ngModel)]="csaArtillery" (change)="filterMaps()">
                        <label for="csa-artillery-check" class="text-sm">CSA Artillery</label>
                    </div>

                    <div class="checkbox-wrapper-47">
                        <input id="usa-artillery-check" type="checkbox" [(ngModel)]="usaArtillery" (change)="filterMaps()">
                        <label for="usa-artillery-check" class="text-sm">USA Artillery</label>
                    </div>
                </div>
            </div>

            <!-- Filter by Campaign -->
            <div class="border-x border-b border-[#88887be6] rounded-t-md my-3 opacity-70 hover:opacity-100 transition-opacity duration-200">
                <div class="px-2 py-1.5 rounded-t-md" style="background: linear-gradient(90deg, #88887be6, #88887b7a);">
                    <div class="text-neutral-200 text-base font-[400] tracking-tight overflow-hidden whitespace-nowrap" style="max-width: 100%;text-overflow: ellipsis;">Campaign</div>
                </div>
                <div class="p-2 max-h-[200px] overflow-y-scroll">
                    <div *ngFor="let campaign of uniqueCampaigns; let i = index">
                        <div class="checkbox-wrapper-47">
                            <input id="{{'campaign-check-' + i}}" type="checkbox" [(ngModel)]="selectedCampaigns[campaign]" (change)="filterMaps()">
                            <label for="{{'campaign-check-' + i}}" class="text-sm">{{ campaign }}</label>
                        </div>
                    </div>
                </div>
            </div>
    
          <!-- Filter by Weapons, Grouped by Type -->
          <div class="border-x border-b border-[#88887be6] rounded-t-md my-3 opacity-70 hover:opacity-100 transition-opacity duration-200">
            <div class="px-2 py-1.5 rounded-t-md" style="background: linear-gradient(90deg, #88887be6, #88887b7a);">
                <div class="text-neutral-200 text-base font-[400] tracking-tight overflow-hidden whitespace-nowrap" style="max-width: 100%;text-overflow: ellipsis;">Weaponry</div>
            </div>
            <div class="p-2 max-h-[270px] overflow-y-scroll">
                <div *ngFor="let type of objectKeys(weaponsGroupedByType); let typeIndex = index">
                    <!-- <div class="text-[#94a3b8]/80 text-base tracking-tight font-[400] mt-1"
                    style="filter: drop-shadow(2px 0px 6px #2e3f5998);">{{ type }}</div> -->
                    <div *ngFor="let weapon of weaponsGroupedByType[type]; let weaponIndex = index">
                        <div class="checkbox-wrapper-47">
                            <input id="{{'weapon-check-' + typeIndex + '-' + weaponIndex}}" type="checkbox" [(ngModel)]="selectedWeapons[weapon.weapon]" (change)="filterMaps()">
                            <label for="{{'weapon-check-' + typeIndex + '-' + weaponIndex}}" class="text-sm">{{ weapon.weapon }}</label>
                        </div>
                    </div>
                    <mat-divider class="!my-1"></mat-divider>
                </div>
            </div>
          </div>

            

            


            

              

              
              
        </div>
    
        <!-- Map Cards -->
        <div class="grid md:grid-cols-3 gap-6 w-full h-fit">
            <div *ngFor="let map of filteredMaps; let i = index">
                <div
                [@cardAnimation]="animationStates[i] || 'default'"
					(mouseenter)="onMouseEnter(i)"
					(mouseleave)="onMouseLeave(i)">
                    <div class="relative animate-load bg-[#1e293b]/80 rounded-sm ring-2 ring-[#28364d]/70 shadow-xl w-full py-2 grid grid-cols-[1fr_auto]">
               
                        <div class="col-start-1 col-span-1 pl-2 cursor-pointer" [routerLink]="['/maps-beta', map.id]">
                            <span style="filter: drop-shadow(2px 0px 6px rgba(125, 126, 116, 0.281));" 
                                    class="text-[#88887b] font-[500] text-base tracking-tight inline-block overflow-hidden whitespace-nowrap" style="max-width: 100%;text-overflow: ellipsis;">{{ map.name }}</span>
                        </div>
                        <div class="col-start-2 col-span-1 pr-2 cursor-pointer" [routerLink]="['/maps-beta', map.id]">
                            <span class="text-[#94a3b8]/80 text-base tracking-tight font-[300]"
                            style="filter: drop-shadow(2px 0px 6px #2e3f5998);">
                                {{ map.campaign }}
                            </span>
                        </div>
            
            
                        <div class="cols-start-1 col-span-2">
                            <div class="grid grid-cols-[1fr_auto] mb-2">
                                <div>
                                    <div [routerLink]="['/maps-beta', map.id]" class="rounded-sm shadow-md overflow-hidden relative cursor-pointer transition-all duration-300 w-full" style="height: 222px; opacity: 80%;">
                                        <img [src]="map.map_image" [alt]="map.name" class="rounded-bl-sm rounded-tl-sm w-full h-full object-cover brightness-[55%] sepia-[50%] blur-[0.5px] scale-100 hover:scale-110 transition-transform duration-300 active:scale-95" />
                                    </div>
                                </div>
                                
                                <div class="flex flex-col !justify-start items-center bg-slate-900/50 mr-[-1px] h-full">
                                    <button
                                        mat-button
                                        color="primary"
                                        [matBadge]="map.map_favorite_count"
                                        matBadgeColor="accent"
                                        matBadgeSize="small"
                                        matTooltip="Add to Favorites"
                                        (click)="toggleFavorite(map)"
                                        [ngClass]="{'fav-active': isFavorite(map)}"
                                        class="!text-[#7e7f74] !min-w-fit">
                                        <span *ngIf="isFavorite(map)"><i class="fa-solid fa-heart text-xl"></i></span>
                                        <span *ngIf="!isFavorite(map)"><i class="fa-regular fa-heart text-xl"></i></span>     
                                    </button>
    
    
                                    <div class="my-auto pb-[2em]">
                                        <div class="w-fit text-center bg-gray-800 p-1.5 rounded-sm m-0.5 cursor-help hover:opacity-80" 
                                        matTooltip="{{map.usa_infantry_regiments}} USA units, {{map.csa_infantry_regiments}} CSA units" matTooltipPosition="left">
                                            <img src="https://molex.cloud/2024/February/18/_Jzw/infantry.png" class="w-[22px] py-1 h-auto pointer-events-none mx-auto">
                                        </div>
    
                                        <div *ngIf="getBuckNBallSides(map)" class="w-fit text-center bg-gray-800 p-1.5 rounded-sm m-0.5 cursor-help hover:opacity-80"
                                        matTooltip="Buck 'N Ball ({{getBuckNBallSides(map)}})" matTooltipPosition="left">
                                        <img src="https://molex.cloud/2024/February/18/_kDg/bucknball.png" class="w-[22px] h-auto pointer-events-none mx-auto">
                                    </div>
    
                                        <div *ngIf="map.usa_artillery || map.csa_artillery" class="w-fit text-center bg-gray-800 p-1.5 rounded-sm m-0.5 cursor-help hover:opacity-80" 
                                        matTooltip="{{map.usa_artillery_regiments}} USA units, {{map.csa_artillery_regiments}} CSA units" matTooltipPosition="left">
                                            <img src="https://molex.cloud/2024/February/18/_cyG/artillery-icon.png" class="w-[22px] h-auto pointer-events-none mx-auto">
                                        </div>
    
                                        
                                    </div>
    
                                </div>
                            </div>
                            
                            
                        </div>
    
                        <div class="col-start-1 col-span-1 flex items-center pl-2 cursor-pointer" [routerLink]="['/maps-beta', map.id]">    
                            <span style="filter: drop-shadow(2px 0px 6px #c4c4c44f);" class="text-sm opacity-40">{{ map.attacker }} Attacker</span>
                        </div>
    
                        <div class="col-start-2 col-span-1 text-right pr-2 cursor-pointer" [routerLink]="['/maps-beta', map.id]">
                            <!-- <button [routerLink]="['/maps-beta', map.id]" mat-mini-fab color="primary" class=" !scale-75">
                                <mat-icon>search</mat-icon>
                            </button> -->
                        </div>
           
                    </div>
                </div>
                
            </div>
        </div>
        
        
    </div>

    

</div>