<div class="container mx-auto mt-[1em] scroll-container mb-[4em]">

    <div class="animate-top flex items-center md:mb-8 mb-2" style="filter: drop-shadow(2px 0px 10px rgba(125, 126, 116, 0.507));">
		<div class="flex-shrink-0 text-[#88887b] md:flex justify-center items-center w-6 md:w-16 h-auto pl-1 hidden">
			<i class="fas fa-map-marked-alt fa-2x"></i>
		</div>
		<div class="ml-1 flex items-center">
			<div>
				<h3 class="text-[#88887b] font-[500] text-base md:text-xl tracking-tight drop-shadow-lg">Explore Maps</h3>
				<span class="text-[#88887b] font-[300] text-sm md:text-base tracking-tight drop-shadow-lg inline-block">Navigate Battlefields, Strategize Your Moves, and Dominate the Game</span>
			</div>
		</div>
	</div>

    <div *ngIf="!isLoaded" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div *ngIf="isLoaded" class="grid md:grid-cols-[0.55fr_2fr] gap-2 md:gap-x-10">

        <div class="mb-2 col-start-1 md:col-span-2">
            
            <div class="search-box">
                <input [(ngModel)]="searchText"
                    (input)="filterMaps()"
                    class="search-input"
                    type="text"
                    placeholder="Search maps...">
                <i class="fa-solid fa-search search-icon"></i>
                <span *ngIf="searchText"
                    (click)="clearSearchText()"
                    class="clear-button">
                    &times;
                </span>
            </div>
        </div>

       
        <div class="w-full md:col-start-2 col-span-1">
            <div class="grid md:grid-cols-[1fr_auto]">
                  <div class="hidden md:inline-block pt-2">
                     <button mat-button color="primary" (click)="clearAllFilters()" class="!w-fit !h-fit !font-[500] !my-auto"><i class="fa-solid fa-circle-xmark pr-1"></i>Clear All Filters</button>
                  </div>
                  
                  
                <div class="flex items-center md:justify-end">
                    <div class="flex-grow">
                        <select class="field-input w-full !py-[5px] !px-[5px] !text-sm" [(ngModel)]="sortBy" (change)="sortMaps()">
                            <option value="favorites">Sort by Favorites</option>
                            <option value="name">Sort Alphabetically</option>
                        </select>
                    </div>
                    <div class="text-right ml-2">
                        <button mat-stroked-button color="primary" class="!text-neutral-[#88887b] !h-[31px]" (click)="toggleSortDirection(); sortMaps()">
                            {{ sortDirection === 'ascending' ? 'ASC ↑' : 'DESC ↓' }}
                        </button>
                    </div>
                </div>
            </div>
            
            
        </div>

        <div class="mt-3 h-fit">
            <div class="mt-[-1em]">
                <!-- Sorting Criterion/Direction -->
                
                <div class="checkbox-wrapper-47 mt-0.5" *ngIf="sharedDataService.isLoggedIn">
                    <input id="fav-check" type="checkbox" [(ngModel)]="filterFavorites" (change)="filterMaps()"> 
                    <label for="fav-check" class="text-sm">{{sharedDataService.currentUser.username}}'s Favorites</label>
                </div>
        
                <!-- Filter by Attacker -->
                <div class="filter-section border-l border-dotted border-[#88887be6] rounded-t-md my-3 ">
                    <div (click)="toggleCollapse('attacker')" class="cursor-pointer opacity-80 hover:opacity-100 filter-header px-2 py-1.5 flex justify-between items-center" style="background: linear-gradient(90deg, #88887be6, transparent);">
                        <div class="text-neutral-200 text-base font-[400]">Attacker</div>
                            <span *ngIf="!isCollapsed['attacker']"><i class="fa-solid fa-chevron-up"></i></span>
                            <span *ngIf="isCollapsed['attacker']"><i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                    <div *ngIf="!isCollapsed['attacker']" class="filter-content p-2">
                        <div class="field-box !m-0">
                            <select class="field-input !py-2" [(ngModel)]="selectedAttacker" (change)="filterMaps()">
                                <option value="">All</option>
                                <option value="USA">USA</option>
                                <option value="CSA">CSA</option>
                            </select>
                            <i class="fa-solid fa-crosshairs field-icon"></i>
                        </div>
                    </div>
                </div>
        
                <!-- Filter By Artillery -->
                <div class="filter-section border-l border-dotted border-[#88887be6] rounded-t-md my-3">
                    <div (click)="toggleCollapse('artillery')" class="cursor-pointer opacity-80 hover:opacity-100 filter-header px-2 py-1.5 flex justify-between items-center" style="background: linear-gradient(90deg, #88887be6, transparent);">
                        <div class="text-neutral-200 text-base font-[400]">Artillery</div>
                            <span *ngIf="!isCollapsed['artillery']"><i class="fa-solid fa-chevron-up"></i></span>
                            <span *ngIf="isCollapsed['artillery']"><i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                    <div *ngIf="!isCollapsed['artillery']" class="filter-content p-2">
                        <div class="checkbox-wrapper-47">
                            <input id="csa-artillery-check" type="checkbox" [(ngModel)]="csaArtillery" (change)="filterMaps();">
                            <label for="csa-artillery-check" class="text-sm">CSA Artillery</label>
                        </div>
                        <div class="checkbox-wrapper-47">
                            <input id="usa-artillery-check" type="checkbox" [(ngModel)]="usaArtillery" (change)="filterMaps()">
                            <label for="usa-artillery-check" class="text-sm">USA Artillery</label>
                        </div>
                    </div>
                </div>
        
                <!-- Filter by Campaign -->
                <div class="filter-section border-l border-dotted border-[#88887be6] rounded-t-md my-3">
                    <div (click)="toggleCollapse('campaign')" class="cursor-pointer opacity-80 hover:opacity-100 filter-header px-2 py-1.5 flex justify-between items-center" style="background: linear-gradient(90deg, #88887be6, transparent);">
                        <div class="text-neutral-200 text-base font-[400]">Campaign</div>
                        <span *ngIf="!isCollapsed['campaign']"><i class="fa-solid fa-chevron-up"></i></span>
                        <span *ngIf="isCollapsed['campaign']"><i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                    <div *ngIf="!isCollapsed['campaign']" class="filter-content p-2">
                        <button mat-button color="primary" (click)="clearFilters('campaign')" class="!w-fit !h-fit float-right !font-[500]">Clear<i class="fa-regular fa-circle-xmark pl-1"></i></button>
                        <div *ngFor="let campaign of uniqueCampaigns; let i = index">
                            <div class="checkbox-wrapper-47">
                                <input id="{{'campaign-check-' + i}}" type="checkbox" (change)="filterMaps();" [(ngModel)]="selectedCampaigns[campaign]">
                                <label for="{{'campaign-check-' + i}}" class="text-sm">{{ campaign }}</label>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Filter by Weapons, Grouped by Type -->
                <div class="filter-section border-l border-dotted border-[#88887be6] rounded-t-md my-3">
                    <div (click)="toggleCollapse('weaponry')" class="cursor-pointer opacity-80 hover:opacity-100 filter-header px-2 py-1.5 flex justify-between items-center" style="background: linear-gradient(90deg, #88887be6, transparent);">
                        <div class="text-neutral-200 text-base font-[400]">Weaponry</div>
                        <span *ngIf="!isCollapsed['weaponry']"><i class="fa-solid fa-chevron-up"></i></span>
                        <span *ngIf="isCollapsed['weaponry']"><i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                    <div *ngIf="!isCollapsed['weaponry']" class="filter-content p-2">
                        <button mat-button color="primary" (click)="clearFilters('weaponry')" class="!w-fit !h-fit float-right !font-[500]">Clear<i class="fa-regular fa-circle-xmark pl-1"></i></button>
                        <div *ngFor="let type of objectKeys(weaponsGroupedByType); let typeIndex = index">
                            <div *ngFor="let weapon of weaponsGroupedByType[type]; let weaponIndex = index">
                                <div class="checkbox-wrapper-47">
                                    <input id="{{'weapon-check-' + typeIndex + '-' + weaponIndex}}" type="checkbox" [(ngModel)]="selectedWeapons[weapon.weapon]" (change)="filterMaps()">
                                    <label for="{{'weapon-check-' + typeIndex + '-' + weaponIndex}}" class="text-sm">{{ weapon.weapon }}</label>
                                </div>
                            </div>
                            <mat-divider class="!my-1"></mat-divider>
                        </div>
                    </div>
                </div>
        
                <!-- Filter by Infantry Units -->
                <div class="filter-section border-l border-dotted border-[#88887be6] rounded-t-md my-3">
                    <div (click)="toggleCollapse('infantryUnits')" class="cursor-pointer opacity-80 hover:opacity-100 filter-header px-2 py-1.5 flex justify-between items-center" style="background: linear-gradient(90deg, #88887be6, transparent);">
                        <div class="text-neutral-200 text-base font-[400]">Infantry Units</div>
                        <span *ngIf="!isCollapsed['infantryUnits']"><i class="fa-solid fa-chevron-up"></i></span>
                        <span *ngIf="isCollapsed['infantryUnits']"><i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                    <div *ngIf="!isCollapsed['infantryUnits']" class="filter-content p-2">
                        <button mat-button color="primary" (click)="clearFilters('infantryUnits')" class="!w-fit !h-fit float-right !font-[500]">Clear<i class="fa-regular fa-circle-xmark pl-1"></i></button>
                        <div *ngFor="let unit of uniqueInfantryUnits; let i = index">
                            <div class="checkbox-wrapper-47">
                                <input id="{{'infantry-unit-check-' + i}}" type="checkbox" [(ngModel)]="selectedInfantryUnits[unit]" (change)="filterMaps()">
                                <label for="{{'infantry-unit-check-' + i}}" class="text-sm">{{ unit }}</label>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Filter by Artillery Units -->
                <div class="filter-section border-l border-dotted border-[#88887be6] rounded-t-md my-3">
                    <div (click)="toggleCollapse('artilleryUnits')" class="cursor-pointer opacity-80 hover:opacity-100 filter-header px-2 py-1.5 flex justify-between items-center" style="background: linear-gradient(90deg, #88887be6, transparent);">
                        <div class="text-neutral-200 text-base font-[400]">Artillery Units</div>
                        <span *ngIf="!isCollapsed['artilleryUnits']"><i class="fa-solid fa-chevron-up"></i></span>
                        <span *ngIf="isCollapsed['artilleryUnits']"><i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                    <div *ngIf="!isCollapsed['artilleryUnits']" class="filter-content p-2">
                        <button mat-button color="primary" (click)="clearFilters('artilleryUnits')" class="!w-fit !h-fit float-right !font-[500]">Clear<i class="fa-regular fa-circle-xmark pl-1"></i></button>
                        <div *ngFor="let unit of uniqueArtilleryUnits; let i = index">
                            <div class="checkbox-wrapper-47">
                                <input id="{{'artillery-unit-check-' + i}}" type="checkbox" [(ngModel)]="selectedArtilleryUnits[unit]" (change)="filterMaps()">
                                <label for="{{'artillery-unit-check-' + i}}" class="text-sm">{{ unit }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
        <!-- Map Cards -->
        <div class="grid md:grid-cols-3 gap-6 w-full h-fit mt-3">
            <div *ngFor="let map of filteredMaps; let i = index">
                <div
                [@cardAnimation]="animationStates[i] || 'default'"
					(mouseenter)="onMouseEnter(i)"
					(mouseleave)="onMouseLeave(i)">
                    <div class="relative animate-load bg-[#1e293b]/80 rounded-sm ring-2 ring-[#28364d]/70 shadow-xl w-full py-2 grid grid-cols-[1fr_auto]">
               
                        <div class="col-start-1 col-span-1 pl-2 cursor-pointer" [routerLink]="['/maps', map.id]">
                            <span style="filter: drop-shadow(2px 0px 6px rgba(125, 126, 116, 0.281));" 
                                    class="text-[#88887b] font-[500] text-base tracking-tight inline-block overflow-hidden whitespace-nowrap" style="max-width: 100%;text-overflow: ellipsis;">{{ map.name }}</span>
                        </div>
                        <div class="col-start-2 col-span-1 pr-2 cursor-pointer" [routerLink]="['/maps', map.id]">
                            <span class="text-[#94a3b8]/80 text-base tracking-tight font-[300]"
                            style="filter: drop-shadow(2px 0px 6px #2e3f5998);">
                                {{ map['campaign'] }}
                            </span>
                        </div>
            
            
                        <div class="cols-start-1 col-span-2">
                            <div class="grid grid-cols-[1fr_auto] mb-2">
                                <div>
                                    <div [routerLink]="['/maps', map.id]" class="rounded-sm shadow-md overflow-hidden relative cursor-pointer transition-all duration-300 w-full" style="height: 222px; opacity: 80%;">
                                        <img [src]="map.map_image" [alt]="map.name" class="rounded-bl-sm rounded-tl-sm w-full h-full object-cover brightness-[55%] sepia-[50%] blur-[0.5px] scale-100 hover:scale-110 transition-transform duration-300 active:scale-95" />
                                    </div>
                                </div>
                                
                                <div class="flex flex-col !justify-start items-center bg-slate-900/50 mr-[-1px] h-full">
                                    <button
                                        mat-button
                                        color="primary"
                                        [matBadge]="map.map_favorite_count"
                                        matBadgeColor="accent"
                                        matBadgeSize="small"
                                        matTooltip="Add to Favorites"
                                        (click)="toggleFavorite(map)"
                                        [ngClass]="{'fav-active': isFavorite(map)}"
                                        class="!text-[#7e7f74] !min-w-fit">
                                        <span *ngIf="isFavorite(map)"><i class="fa-solid fa-heart text-xl"></i></span>
                                        <span *ngIf="!isFavorite(map)"><i class="fa-regular fa-heart text-xl"></i></span>     
                                    </button>
    
    
                                    <div class="my-auto pb-[2em]">
                                        <div class="w-fit text-center bg-gray-800 p-1.5 rounded-sm m-0.5 cursor-help hover:opacity-80" 
                                        matTooltip="{{map.usa_infantry_regiments}} USA units, {{map.csa_infantry_regiments}} CSA units" matTooltipPosition="left">
                                            <img src="https://molex.cloud/2024/February/18/_Jzw/infantry.png" class="w-[22px] py-1 h-auto pointer-events-none mx-auto">
                                        </div>
    
                                        <div *ngIf="getBuckNBallSides(map)" class="w-fit text-center bg-gray-800 p-1.5 rounded-sm m-0.5 cursor-help hover:opacity-80"
                                        matTooltip="Buck 'N Ball ({{getBuckNBallSides(map)}})" matTooltipPosition="left">
                                        <img src="https://molex.cloud/2024/February/18/_kDg/bucknball.png" class="w-[22px] h-auto pointer-events-none mx-auto">
                                        </div>
    
                                        <div *ngIf="map.usa_artillery || map.csa_artillery" class="w-fit text-center bg-gray-800 p-1.5 rounded-sm m-0.5 cursor-help hover:opacity-80" 
                                        matTooltip="{{map.usa_artillery_regiments}} USA units, {{map.csa_artillery_regiments}} CSA units" matTooltipPosition="left">
                                            <img src="https://molex.cloud/2024/February/18/_cyG/artillery-icon.png" class="w-[22px] h-auto pointer-events-none mx-auto">
                                        </div>
    
                                        
                                    </div>
    
                                </div>
                            </div>
                            
                            
                        </div>
    
                        <div class="col-start-1 col-span-1 flex items-center pl-2 cursor-pointer" [routerLink]="['/maps', map.id]">    
                            <span style="filter: drop-shadow(2px 0px 6px #c4c4c44f);" class="text-sm opacity-40">{{ map['attacker'] }} Attacker</span>
                        </div>
    
                        <div class="col-start-2 col-span-1 text-right pr-2 cursor-pointer" [routerLink]="['/maps', map.id]">
                            <!-- <button [routerLink]="['/maps', map.id]" mat-mini-fab color="primary" class=" !scale-75">
                                <mat-icon>search</mat-icon>
                            </button> -->
                        </div>
           
                    </div>
                </div>
                
            </div>
        </div>
        
        
    </div>

    

</div>