:host {
  display: block;
}
.lds-ellipsis{
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div{
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #88887b;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1){
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2){
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3){
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4){
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1{
  0%{
      transform: scale(0);
  }
  100%{
      transform: scale(1);
  }
}

@keyframes lds-ellipsis3{
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(0);
  }
}

@keyframes lds-ellipsis2{
  0%{
      transform: translate(0, 0);
  }
  100%{
      transform: translate(24px, 0);
  }
}

// .fav-active, .mat-badge-content {
//   background-color: rgba(212, 212, 212, 0.8)  !important;
//   color: rgb(51 65 85 / 0.8) !important;
//   box-shadow: inset 0px 0px 0px 2px #d4d4d4 !important;
// }

.fav-active, .mat-badge-content {
  // background-color: #7e7f74 !important;
  color: #7e7f74 !important;
  // box-shadow: inset 0px 0px 0px 2px rgb(30 41 59) !important;
}

.sort-select, .sort-button {

  padding: 5px 10px;
  border: 1px solid #88887b;
  border-radius: 4px;
  color: #7e7f74 !important;
  background-color: transparent;
}

.sort-button {
  cursor: pointer;
}

  .checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-47 label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
    margin-top: 2.22px;
    margin-bottom: 2.22px;
    color: #7e7f74;
  }

  .checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #7e7f74;
    border-radius: 6px;
    z-index: -1;
  }

  .checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    color: #0f172a !important;
    font-weight: 600 !important;
  }
  .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #88887be6;
    border-color: #858575;
  }

  .checkbox-wrapper-47 label,
  .checkbox-wrapper-47 label::before {
    transition: 0.25s all ease;
  }

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #88887b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #88887b transparent
}

.search-box {
  position: relative;
}

.search-input {
  font-family: "Noto Sans", sans-serif;
  padding: 12px 36px 12px 48px;
  width: 100%;
  border: 2px solid #7c7d72;
  border-radius: 4px;
  background: linear-gradient(9deg, #121a29, #121a29, #7c7d727a);
  color: #fff;
  outline: none;
  transition: all 0.3s ease;
}

.search-input:focus {
  // transform: scale(1.01);
}
.clear-button {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.8rem;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.search-input:focus::placeholder {
  opacity: 1;
  text-indent: 0;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translate(0, -50%);
  transition: all 0.3s ease;
  color: #7c7d72;
}

.search-input:focus + .search-icon {
  // margin-left: -4px;
}

.search-input:hover {
  opacity: 0.7;
}

.search-input:focus {
  opacity: 1;
  // transform: scale(1.02);
}

.search-input::placeholder {
  color: #ccc;
}

.filter-options {
  color: #7c7d72 !important;
}

.filter-chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-chip {
  padding: 5px 10px;
  background-color: #e0e0e0;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.filter-chip-remove-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}
