<div *ngIf="showUser">
   <h3 class="text-[#88887b] font-serif text-3xl tracking-tight mb-4">User Dashboard</h3>
   <div class="p-5">
      <h3 class="text-xl my-2">Logged in User's Only!</h3>
      <p>This is exclusive content for user's only!</p>
   </div>
</div>


<div class="container" *ngIf="!isLoggedIn">

   <h3 class="text-xl my-2">No Elevated Permissions</h3>
   <p>You can not see content for elevated user's</p>
   <button class="!my-4" mat-flat-button routerLink="/home">Return home to login</button>

</div>