<div *ngIf="loading"
	class="text-center text-xl opacity-75">
	<i class="fas fa-spinner fa-pulse mr-2"></i>
	Verifying credentials...
</div>


<div *ngIf="!loading"
	class="lg:w-[80vw] w-[100vw - 2em] m-auto mt-[4em]">


	<div *ngIf="!showMod && isLoggedIn"
		class="p-5 bg-[#1c2537] rounded-md"
		style="border-left: 5px solid #a13c3c;">
		<div class="grid grid-cols-1 sm:grid-cols-[120px_minmax(900px,_1fr)_100px] grid-rows-2 sm:grid-rows-none">
			<div class="row-start-2 sm:row-start-auto">
				<button class="!my-4 bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 opacity-[65%] !transition !duration-300 ease-in hover:opacity-[80%]"
					mat-button
					routerLink="/home">
					<i class="fa-solid fa-house mr-1.5"></i>
					Home
				</button>
			</div>


			<div class="row-start-1 sm:row-start-auto">
				<h3 class="text-xl my-2">
					You do not have access to this feature
				</h3>
				<p>
					You do not have the necessary permissions to view this content.
				</p>
			</div>
		</div>
	</div>



	<div *ngIf="!isLoggedIn"
		class="p-5 bg-[#1c2537] rounded-md"
		style="border-left: 5px solid #a13c3c;">
		<div class="grid grid-cols-1 sm:grid-cols-[120px_minmax(900px,_1fr)_100px] grid-rows-2 sm:grid-rows-none">
			<div class="row-start-2 sm:row-start-auto">
				<button class="!my-4 bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 opacity-[65%] !transition !duration-300 ease-in hover:opacity-[80%]"
					mat-button
					routerLink="/home">
					<i class="fa-solid fa-house mr-1.5"></i>
					Home
				</button>
			</div>


			<div class="row-start-1 sm:row-start-auto">
				<h3 class="text-xl my-2">
					Please login to continue
				</h3>
				<p>
					You must be logged in to access this content.
				</p>
			</div>
		</div>
	</div>




	<div *ngIf="showAdmin || showMod">


		<h3 class="text-[#88887b]  text-3xl mb-4">
			Muster Roster Testing
		</h3>
		<mat-table [dataSource]="users"
			class>
			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
				<mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="nickname">
				<mat-header-cell *matHeaderCellDef>Nickname</mat-header-cell>
				<mat-cell *matCellDef="let user">
					<ng-container *ngIf="editingUser === user; else displayNickname">
						<mat-form-field appearance="fill">
							<mat-label>Nickname</mat-label>
							<input [(ngModel)]="editingUser.nickname"
								matInput
								name="nickname">
						</mat-form-field>
					</ng-container>
					<ng-template #displayNickname>{{user.nickname}}</ng-template>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="regiment">
				<mat-header-cell *matHeaderCellDef>Regiment</mat-header-cell>
				<mat-cell *matCellDef="let user">
					<ng-container *ngIf="editingUser === user; else displayRegiment">
						<mat-form-field appearance="fill">
							<mat-label>Regiment</mat-label>
							<input [(ngModel)]="editingUser.regiment"
								matInput
								name="regiment">
						</mat-form-field>
					</ng-container>
					<ng-template #displayRegiment>{{user.regiment}}</ng-template>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="events">
				<mat-header-cell *matHeaderCellDef>Events</mat-header-cell>
				<mat-cell *matCellDef="let user">
					<mat-form-field appearance="fill">
						<mat-label>Events</mat-label>
						<input [(ngModel)]="user.events"
							(change)="updateEvents($event, user)"
							matInput
							type="number"
							name="events">
					</mat-form-field>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="drills">
				<mat-header-cell *matHeaderCellDef>Drills</mat-header-cell>
				<mat-cell *matCellDef="let user">
					<mat-form-field appearance="fill">
						<mat-label>Drills</mat-label>
						<input [(ngModel)]="user.drills"
							(change)="updateDrills($event, user)"
							matInput
							type="number"
							name="drills">
					</mat-form-field>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="lastmuster">
				<mat-header-cell *matHeaderCellDef>Lastmuster</mat-header-cell>
				<mat-cell *matCellDef="let user">
					<ng-container *ngIf="editingUser === user; else displayLastmuster">
						<mat-form-field appearance="fill">
							<mat-label>Lastmuster</mat-label>
							<input [(ngModel)]="editingUser.lastmuster"
								matInput
								name="lastmuster">
						</mat-form-field>
					</ng-container>
					<ng-template #displayLastmuster>{{user.lastmuster}}</ng-template>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="joindate">
				<mat-header-cell *matHeaderCellDef>Joindate</mat-header-cell>
				<mat-cell *matCellDef="let user">
					<ng-container *ngIf="editingUser === user; else displayJoindate">
						<mat-form-field appearance="fill">
							<mat-label>Joindate</mat-label>
							<input [(ngModel)]="editingUser.joindate"
								matInput
								name="joindate">
						</mat-form-field>
					</ng-container>
					<ng-template #displayJoindate>{{user.joindate}}</ng-template>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
				<mat-cell *matCellDef="let user">
					<div *ngIf="editingUser === user">
						<button (click)="saveUser()"
							mat-raised-button
							color="primary">
							Save
						</button>
						<button (click)="cancelEdit()"
							mat-raised-button
							color="warn">
							Cancel
						</button>
					</div>
					<div *ngIf="editingUser !== user">
						<button (click)="editUser(user)"
							mat-raised-button
							color="accent">
							Edit
						</button>
					</div>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>
		</mat-table>
	</div>
</div>
