.mat-mdc-header-row {
	font-family: 'Roboto Slab', serif;
	font-weight: 900 !important;
}

.mat-mdc-row {
	font-family: 'Roboto Slab', serif;
	font-weight: 200 !important;
	color: rgba(255, 255, 255, 0.753);
}
.mat-mdc-header-cell{
	color: rgb(158 159 152) !important;
	font-size: 1rem;
}
.mat-mdc-table {
	background: unset !important;
}

.mat-mdc-paginator {
	background: unset !important;
}

mat-row, mat-header-row, mat-footer-row, th.mat-mdc-header-cell, td.mat-mdc-cell, td.mat-mdc-footer-cell
{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #7c7d7283 !important;
}

.mat-mdc-form-field-appearance-fill .mat-mdc-input-element {
	width: 50px !important; 
  }