.mat-header-cell {
    background: #7c7d72;
}

.mat-table{
    background: #1c2537;
}

.mat-row{
    padding: 10px;
}

::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
 }
 
.mat-cell{
    padding: 0.5em;
}