

<div class="container mx-auto mt-[1em]">

  <div *ngIf="!resetComplete">

    <div *ngIf="isForgotScenario">
      <h2 class="text-[#88887b] font-[500] lg:text-2xl text-lg tracking-tight mb-4 ml-[-10px]">{{ isForgotScenario ? 'Forgot Password' : 'Reset Password' }}</h2>
  
      <div class="text-right">
        <form (ngSubmit)="forgotPassword()">
          <div class="field-box">
            <input
            [(ngModel)]="email" 
            name="email" 
            class="field-input" type="text" placeholder="E-mail...">
            <i class="fa-regular fa-envelope field-icon"></i>
          </div>
          
          <button type="submit" mat-raised-button
          color="primary"
          class="!max-w-fit !py-2 !sm:py-[5px] !text-neutral-300 mt-2">Send Reset</button>
        </form>
      </div>
    </div>
  
  
  
    <div *ngIf="!isForgotScenario">
  
      <div class="animate-top flex items-center md:mb-8 mb-2" style="filter: drop-shadow(2px 0px 10px rgba(125, 126, 116, 0.507));">
        <div class="flex-shrink-0 text-[#88887b] md:flex justify-center items-center w-6 md:w-16 h-auto pl-1 hidden">
            <i class="fas fa-key fa-2x"></i>
        </div>
        <div class="ml-1 flex items-center">
            <div>
                <h3 class="text-[#88887b] font-[500] text-base md:text-xl tracking-tight drop-shadow-lg">{{ isForgotScenario ? 'Forgot Password' : 'Reset Password' }}</h3>
                <span class="text-[#88887b] font-[300] text-sm md:text-base tracking-tight drop-shadow-lg inline-block">Recover Your Account Securely and Continue Your Experience With Us</span>
            </div>
        </div>
      </div>
  
      <div class="md:max-w-[69%] lg:max-w-[658px] mx-auto">
        <form (ngSubmit)="resetPassword()" class="bg-[#1e293b]/80 rounded-sm ring-2 ring-[#28364d]/70 shadow-xl w-full m-auto animate-load md:p-10 p-4">
          <div class="field-box">
            <input
            [(ngModel)]="newPassword" 
            name="newPassword" 
            class="field-input" type="password" placeholder="New Password...">
            <i class="fa-solid fa-lock field-icon"></i>
          </div>
          <div class="field-box mt-2">
            <input
            [(ngModel)]="confirmPassword" 
            name="confirmPassword" 
            class="field-input" type="password" placeholder="Confirm Password...">
            <i class="fa-solid fa-lock field-icon"></i>
          </div>
          <button type="submit" mat-flat-button color="primary"
          class="!max-w-fit !py-2 !sm:py-[5px] !text-neutral-300 mt-2">Reset Password</button>
        </form>
      </div>
  
    </div>

  </div>


  <div *ngIf="resetComplete">

    <div class="animate-top flex items-center md:mb-8 mb-2" style="filter: drop-shadow(2px 0px 10px rgba(125, 126, 116, 0.507));">
      <div class="flex-shrink-0 text-[#88887b] md:flex justify-center items-center w-6 md:w-16 h-auto pl-1 hidden">
          <i class="fas fa-key fa-2x"></i>
      </div>
      <div class="ml-1 flex items-center">
          <div>
              <h3 class="text-[#88887b] font-[500] text-base md:text-xl tracking-tight drop-shadow-lg">{{ isForgotScenario ? 'Email Sent!' : 'Reset Complete.' }}</h3>
              <span class="text-[#88887b] font-[300] text-sm md:text-base tracking-tight drop-shadow-lg inline-block">{{ isForgotScenario ? 'An email has been sent to account owner' : 'Your credentials have been updated' }}</span>
          </div>
      </div>
    </div>

    <div class="font-[300] text-[#88887b] md:max-w-[69%] lg:max-w-[658px] mx-auto">
      {{ isForgotScenario ? 'Password reset email sent. Check your email for instructions.' : 'Password reset successful. You can now log in with your new password.' }}
  
      <div *ngIf="!isForgotScenario text-right">
        <a routerLink="/home" mat-flat-button color="primary"
        class="!max-w-fit !py-2 !sm:py-[5px] !text-neutral-300 mt-2">Login</a>
      </div>
    </div>

  </div>

</div>




