

<div *ngIf="!resetComplete" class="w-full max-w-[600px] m-auto lg:mt-[3.5em] mt-[2em]">
  <h2 class="text-[#88887b] font-[500] lg:text-2xl text-lg tracking-tight mb-4 ml-[-10px]">{{ isForgotScenario ? 'Forgot Password' : 'Reset Password' }}</h2>


  

  <div class="text-right">
    <form *ngIf="isForgotScenario" (ngSubmit)="forgotPassword()">
      <div class="field-box">
        <input
        [(ngModel)]="email" 
        name="email" 
        class="field-input" type="text" placeholder="E-mail...">
        <i class="fa-regular fa-envelope field-icon"></i>
      </div>
      
      <button type="submit" mat-raised-button
      color="primary"
      class="!max-w-fit !py-2 !sm:py-[5px] !text-neutral-300">Send Reset</button>
    </form>
  </div>


  <form *ngIf="!isForgotScenario" (ngSubmit)="resetPassword()">
    <div class="field-box">
      <input
      [(ngModel)]="newPassword" 
      name="newPassword" 
      class="field-input" type="password" placeholder="New Password...">
      <i class="fa-solid fa-lock field-icon"></i>
    </div>
    <div class="field-box">
      <input
      [(ngModel)]="confirmPassword" 
      name="confirmPassword" 
      class="field-input" type="password" placeholder="Confirm Password...">
      <i class="fa-solid fa-lock field-icon"></i>
    </div>
    <button type="submit" mat-flat-button color="primary">Reset Password</button>
  </form>
</div>

<div *ngIf="resetComplete">
  <p>
    {{ isForgotScenario ? 'Password reset email sent. Check your email for instructions.' : 'Password reset successful. You can now log in with your new password.' }}
  </p>
</div>
