.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #channel-select{
    background-color: #17202e !important;
    height: 52px;
    font-size: 16px;
    padding: 12px 36px 12px 12px !important
}
