.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #channel-select{
    background-color: #17202e !important;
    height: 52px;
    font-size: 16px;
    padding: 12px 36px 12px 12px !important;
    min-width: calc(100% - 110px);
    max-width: calc(100% - 110px);
    width: calc(100% - 110px);
    transition: none !important;
}

#side-select{
  background-color: #1c2638 !important;
  height: 52px;
  font-size: 16px;
  padding: 12px 36px 12px 48px !important;
  transition: none !important;
}

.mat-mdc-checkbox .mdc-form-field {
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
}

.owner{
  font-family: "Poppins", sans-serif !important;
}