<nav class="sm:bg-[#88887b]/90 bg-[#88887b]/90 backdrop-blur-sm sm:w-full mx-auto sm:rounded-sm shadow-lg w-full top-0 left-0 right-0 sm:h-auto sm:py-[5px] sm:min-h-0 z-10"
	style="position: sticky; top: 0;">
	<div class="mx-auto pr-2 sm:pr-6 lg:pr-8">
		<div class="relative flex h-14 items-center justify-between">
			<div class="absolute sm:hidden">
				<!-- Mobile menu button -->






				<button (click)="toggle();scroll()"
					type="button"
					class="!mt-auto inline-flex items-center justify-center rounded-md p-2 text-[#bbbbb1] focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#88887b]"
					aria-controls="mobile-menu"
					aria-expanded="false">
					<span class="sr-only">Open main menu</span>






					<svg class="block h-6 w-6"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						aria-hidden="true">
						<path stroke-linecap="round"
							stroke-linejoin="round"
							d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
					</svg>






					<svg class="hidden h-6 w-6"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						aria-hidden="true">
						<path stroke-linecap="round"
							stroke-linejoin="round"
							d="M6 18L18 6M6 6l12 12"></path>
					</svg>






				</button>
			</div>
			<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex flex-shrink-0 items-center">



					<button [ngClass]="{'hidden': !(routeService.showButton$ | async)}"
						(click)="goBack()"
						mat-button
						class="!text-[#111827]/80 mx-2 !hidden sm:!block">
						<i class="fa-solid fa-angle-left"></i>
					</button>








					<img class="block h-8 w-auto pointer-events-none"
						src="https://paarmy.com/assets/pa.png"
						alt="The Pennsylvania Army">
				</div>






				<div class="hidden sm:ml-6 sm:block">
					<div class="flex space-x-4">
						<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
						<button *ngIf="!isLoggedIn"
							[routerLink]="['/home']"
							[routerLinkActiveOptions]="{exact: true}"
							mat-button
							routerLinkActive="!bg-[#111827]/80 !text-[#a09e94]"
							class="navitem !text-[#252525ce] text-lg duration-150 transition transform active:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
							Home
						</button>
						<button *ngIf="isLoggedIn"
							[routerLink]="['/home']"
							[routerLinkActiveOptions]="{exact: true}"
							mat-button
							routerLinkActive="!bg-[#111827]/80 !text-[#a09e94]"
							class="navitem !text-[#252525ce] text-lg duration-150 transition transform active:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
							<span>Dashboard</span>
							<span *ngIf="showMod || showAdmin">s</span>
						</button>





						<button [routerLink]="['/maps']"
							mat-button
							routerLinkActive="!bg-[#111827]/80 !text-[#a09e94]"
							class="navitem !text-[#252525ce] text-lg duration-150 transition transform active:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
							Maps
						</button>




						<button [matMenuTriggerFor]="resources"
							mat-button
							routerLinkActive="!bg-[#111827]/80 !text-[#a09e94]"
							class="navitem !text-[#252525ce] text-lg duration-150 transition transform active:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
							Resources
							<i class="fa-solid fa-caret-down"></i>
						</button>


						<mat-menu #resources="matMenu"
							xPosition="after"
							class="!mt-[0.82rem] !ml-3 bg-[#88887b]/90 backdrop-blur-sm w-[200px]">
							<button routerLink="/weapons"
								class="ml-2 select-none"
								mat-menu-item>
								<span class="!text-[#252525ce] font-[500] !text-lg">
									<!-- <i class="fa-solid fa-person-rifle mr-1.5"></i> -->
									Weapons
								</span>
							</button>
							<button routerLink="/game-info"
								class="ml-2 select-none"
								mat-menu-item>
								<span class="!text-[#252525ce] font-[500] !text-lg">
									<!-- <i class="fa-brands fa-steam mr-1.5"></i> -->
									WoR News
								</span>
							</button>
						</mat-menu>



						<button [routerLink]="['/regiments']"
							mat-button
							routerLinkActive="!bg-[#111827]/80 !text-[#a09e94]"
							class="navitem !text-[#252525ce] text-lg duration-150 transition transform active:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
							Regiments
						</button>



					</div>






				</div>
			</div>






			<div *ngIf="isLoggedIn"
				class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">






				<button [matMenuTriggerFor]="beforeMenu"
					class="!bg-[#646258] !text-[#a09e94] !hidden sm:!block font-[900]"
					mat-raised-button>
					<i class="fa-sharp fa-solid fa-user mr-1.5"></i>
					{{currentUser.username}}
					<i class="fa-solid fa-caret-down"></i>
				</button>





				<mat-menu #beforeMenu="matMenu"
					xPosition="before"
					class="bg-[#646258bb] backdrop-blur-sm w-[200px] !mt-1">





					<mat-list class="!px-[0]">






						<div *ngIf="showMod || showAdmin"
							class="!px-[0]">
							<button routerLink="/mod/1"
								class="text-[0.8rem] ml-2 select-none"
								mat-menu-item>
								<span class="!text-neutral-400 font-[500]">
									<i class="fa-solid fa-tents mr-1.5"></i>
									Regiment Tool
								</span>
							</button>
						</div>




						<div *ngIf="showUser">
							<button routerLink="/user/3"
								class="text-[0.8rem] ml-2 select-none"
								mat-menu-item>
								<span class="!text-neutral-400 font-[500]">
									<i class="fa-solid fa-star mr-1.5"></i>
									Manage Favorites
								</span>
							</button>
						</div>




						<mat-divider *ngIf="showMod || showAdmin || showUser"></mat-divider>
						<div>
							<button *ngIf="isLoggedIn"
								routerLink="/user/1"
								mat-menu-item
								class="text-[0.8rem] ml-2 select-none">
								<span class="!text-neutral-400 font-[500]">
									<i class="fa-solid fa-gear mr-1.5"></i>
									Settings
								</span>
							</button>
						</div>
					</mat-list>
				</mat-menu>






			</div>






			<div *ngIf="isLoggedIn">
				<button (click)="logout()"
					mat-raised-button
					class="!bg-[#7a3535] !text-[#a09e94] !hidden sm:!block !ml-2 font-[900]">
					<i class="fa-sharp fa-solid fa-door-closed pr-2"></i>
					Logout
				</button>
			</div>







		</div>
	</div>






	<!-- Mobile menu, show/hide based on menu state. -->
	<div *ngIf="menuOpen"
		class="sm:hidden h-fit py-[1em] animate-top sm:animate-none mx-auto !m-3"
		id="mobile-menu">






		<div class="bg-[#8b8d83]/80 rounded-md drop-shadow-lg !mx-auto !p-3">
			<mat-list class="!mx-auto">
				<mat-list-item class="!my-1 !px-[0] !w-full">
					<button *ngIf="!isLoggedIn"
						[routerLink]="['/home']"
						(click)="toggle()"
						mat-button
						routerLinkActive="!bg-[#111827]/80 !text-[#a09e94]"
						class="navitem !mx-auto !w-full !text-[#252525ce] text-lg duration-150 transition transform active:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none !py-2">
						Home
					</button>
					<button *ngIf="isLoggedIn"
						[routerLink]="['/home']"
						(click)="toggle()"
						mat-button
						routerLinkActive="!bg-[#111827]/80 !text-[#a09e94]"
						class="navitem !mx-auto !w-full !text-[#252525ce] text-lg duration-150 transition transform active:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none !py-2">
						<span>Dashboard</span>
						<span *ngIf="showMod || showAdmin">s</span>
					</button>
				</mat-list-item>
				<mat-list-item class="!my-1 !px-[0] !w-full">
					<button [routerLink]="['/maps']"
						(click)="toggle()"
						mat-button
						routerLinkActive="!bg-[#111827]/80 !text-[#a09e94]"
						class="navitem !mx-auto !w-full !text-[#252525ce] text-lg duration-150 transition transform active:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none !py-2">
						Maps
					</button>
				</mat-list-item>
				<mat-list-item class="!my-1 !px-[0] !w-full">
					<button [routerLink]="['/weapons']"
						(click)="toggle()"
						mat-button
						routerLinkActive="!bg-[#111827]/80 !text-[#a09e94]"
						class="navitem !mx-auto !w-full !text-[#252525ce] text-lg duration-150 transition transform active:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none !py-2">
						Weapons
					</button>
				</mat-list-item>
				<mat-list-item class="!my-1 !px-[0] !w-full">
					<button [routerLink]="['/game-info']"
						(click)="toggle()"
						mat-button
						routerLinkActive="!bg-[#111827]/80 !text-[#a09e94]"
						class="navitem !mx-auto !w-full !text-[#252525ce] text-lg duration-150 transition transform active:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none !py-2">
						WoR Hub
					</button>
				</mat-list-item>
			</mat-list>
		</div>
	</div>








</nav>






<div class="sm:w-full mx-auto my-2 sm:my-0 sm:mt-10 relative lg:px-5 px-2 h-[calc(100% - 200px)] main-container">
	<router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
