<div *ngIf="!isLoaded" class="text-center text-[#88887b] text-xl opacity-75">
	<div class="lds-ellipsis">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<div *ngIf="isLoaded">
    <h2 class="text-2xl text-[#94a3b8] mb-[1em] ml-2 lg:ml-0">Change Password</h2>

    <form (ngSubmit)="updatePassword()">
        <div class="form-group m-4">




            <div class="field-box">
                <input [(ngModel)]="passwordCurrent"
                    name="passwordCurrent"
                    
                    class="field-input my-[0.5em]"
                    type="password"
                    placeholder="Current Password...">
                <i class="fa-solid fa-key field-icon"></i>
            </div>




            <div class="field-box">
                <input [(ngModel)]="passwordNew"
                    name="passwordNew"
                    
                    class="field-input my-[0.5em]"
                    type="password"
                    placeholder="New Password...">
                <i class="fa-solid fa-wand-magic-sparkles field-icon"></i>
            </div>




            <div class="field-box">
                <input [(ngModel)]="passwordNewConfirm"
                    name="passwordNewConfirm"
                    
                    class="field-input my-[0.5em]"
                    type="password"
                    placeholder="Confirm Password...">
                <i class="fa-solid fa-check field-icon"></i>
            </div>




        </div>

        <div class="w-full text-right">
        <button
            type="submit"
            mat-raised-button class="" color="primary">
            Update Password
        </button>
        </div>



    </form>
</div>