#existing-select {
    background-color: #17202e;
}

.form-tooltip {
    font-size: 16px;
    max-width: max-content !important;
}


.bar::-webkit-scrollbar {
    width: 10px;
}

.bar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 4px;
}

.skewed-text {
	display: block;
	text-align: left;
	background: linear-gradient(90deg, #7c7d72a2, #7c7d7200);
	padding-left: 1em;
	font-size: 0.875rem;
}