<div class="w-full mx-auto">


  <h2 class="lg:text-2xl text-lg text-slate-400 pb-4 ml-2 lg:ml-0">Share Event Information</h2>

  <div class="grid lg:grid-cols-[1fr_auto]">

    <div class="lg:row-start-1 row-start-2 row-span-1 lg:col-start-1 lg:col-span-1">
      <h3 class="text-slate-300 ml-1 mt-6 mb-3 lg:text-xl font-[300]">
        <i class="fa-solid fa-at"></i>Mention a Role
            </h3>

            <div class="mb-2 w-fit">
              <div class="custom-select-container" #dropdownContainer>
                <div class="custom-select">
                  <button class="select-button !min-w-[222px]" (click)="toggleDropdown()" mat-stroked-button color="primary">
                    {{ selectedRole ? selectedRole.name : 'Select a role...' }}
                  </button>
            
                  <div class="dropdown-container" *ngIf="isDropdownOpen">
                    <div class="field-box sticky top-0">
                      <input
                      #roleFilterInput
                      id="#roleFilterInput"
                      class="select-input !bg-slate-900/80 rounded-md my-1 shadow-lg"
                      type="text"
                      placeholder="Type to filter..."
                      (input)="updateFilteredRoles()"
                      name="roleFilter"
                      [(ngModel)]="roleFilter"
                      (ngModelChange)="updateFilteredRoles()"
                    />
                      <i class="fa-solid fa-filter field-icon"></i>
                    </div>
            
                    <ul class="dropdown-list rounded-md shadow-sm !bg-slate-900">
                      <li *ngIf="filteredRoles.length <= 0">
                        Fetching Roles...
                      </li>
            
                      <li *ngFor="let role of filteredRoles" (click)="selectRole(role)">
                        {{ role.name }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
    </div>


    <div class="lg:row-start-1 row-start-1 row-span-1 lg:col-start-2 lg:col-span-1">

          <div class="">
            <h3 class="text-slate-300 ml-1 lg:mt-6 mb-3 lg:text-xl font-[300]">
              <i class="fa-solid fa-hashtag"></i>Event Channel
            </h3>
                <select #channelSelect class="event-field-input !w-fit !pl-2" id="channel-select" (change)="updateTargetChannel(channelSelect.value)">
                  <option value="0">{{this.sharedDataService.regiment.webhook_channel}}</option>
                  <option *ngFor="let channel of this.regimentChannels" [value]="channel.id">
                    {{ channel.name }}
                  </option>
                </select>
          </div>
  </div>

        
    
  </div>
    
      

      <form [formGroup]="serverForm">

        <h3 class="text-slate-300 ml-1 mt-6 mb-3 lg:text-xl font-[300]">
          Server Information
        </h3>

            <div class="grid lg:grid-cols-2 gap-2">
                <div class="field-box">
                  <input id="serverName" class="event-field-input" placeholder="Server Name..." formControlName="serverName" />
                  <i class="fa-solid fa-tag field-icon"></i>
                </div>

                <div class="field-box">
                  <input id="password" class="event-field-input h-[44px]" placeholder="Password..." formControlName="password" />
                  <i class="fa-solid fa-key field-icon"></i>
                </div>
            </div>

            

            <div class="grid grid-cols-[1fr_auto] mt-6">
              <div class="flex items-baseline">
                <h3 class="text-slate-300 ml-1 mb-3 lg:text-xl font-[300]">
                  Event Rounds
                </h3>
              </div>
              <div>
                <button mat-stroked-button type="button" (click)="addRound()" class="my-2"><i class="fa-solid fa-plus pr-1"></i>Add a Round</button>
              </div>
            </div>
            
          
            

            <div formArrayName="rounds">

              

              <div *ngFor="let round of rounds.controls; let i = index" [formGroupName]="i" class="my-4 mb-6 p-2 lg:px-5 bg-slate-900/80 rounded-md shadow-sm">

                <h2 class="text-lg text-slate-400 my-2">Round {{i + 1}}</h2>

                
                <!-- <div class="field-box my-2">
                  <label for="map" class="label">Game Mode</label>
                  <select class="event-field-input" id="gameMode" formControlName="gameMode" (change)="onSelectGameMode(i, round.get('gameMode')?.value)">
                    <option *ngFor="let mode of gameModes" [value]="mode">{{ mode }}</option>
                  </select>
                  <i class="fa-solid fa-campground event-icon"></i>
                </div> -->
                
                <div class="field-box my-2">
                  <!-- <label class="label">Game Mode</label> -->
                  <div class="button-group text-center">
                    <button class="m-2" mat-stroked-button *ngFor="let mode of gameModes" (click)="onSelectGameMode(i, mode)" 
                            [ngClass]="{'active': selectedGameModes[i] === mode}">
                      {{ mode }}
                    </button>
                  </div>
                </div>
                
                
                
          
                <div *ngIf="round.get('gameMode')?.value === 'Skirmish' || round.get('gameMode')?.value === 'Contention' || round.get('gameMode')?.value === 'Conquest'">
                  <!-- Include the additional form fields for Skirmish, Contention, and Conquest -->
                  

                  <div class="grid lg:grid-cols-2 gap-2 lg:gap-4">
                    <div class="field-box my-2">
                      <label class="label">Campaign</label>
                      <select class="event-field-input" id="skirmishArea" formControlName="skirmishArea">
                        <option *ngFor="let area of skirmishAreas" [value]="area">{{ area }}</option>
                        </select>
                        <i class="fa-solid fa-map-pin event-icon"></i>
                    </div>
                     
            
                    <div class="field-box my-2">
                      <label class="label">Map</label>
                      <select class="event-field-input" id="map" formControlName="map" (change)="thisMapDetails()">
                      <option *ngFor="let map of getFilteredMaps(round.get('skirmishArea')?.value)" [value]="map.map">{{ map.map }}</option>
                      </select>
                      <i class="fa-regular fa-map event-icon"></i>
                    </div>
                  </div>

                  <div class="grid lg:grid-cols-2 gap-2 lg:gap-4">
                    <div class="field-box my-2">
                      <label class="label">Side</label>
                      <select class="event-field-input" id="side" formControlName="side">
                        <option *ngFor="let side of sides" [value]="side">{{ side }}</option>
                      </select>
                      <i class="fa-solid fa-arrows-up-down event-icon"></i>
                    </div>

                    <div class="field-box my-2">
                      <label class="label">Regiment</label>
                      <input id="regiment" class="event-field-input h-[44px]" formControlName="regiment" />
                      <i class="fa-solid fa-shield event-icon"></i>
                    </div>

                  </div>

                  
          
                  <div class="field-box my-2">
                    <label class="label" class="label">Reserved Units <span class="font-[200] italic">(Officer, NCOs, Flag)</span></label>
                    <textarea class="event-field-input" id="info" formControlName="info"></textarea>
                    <i class="fa-solid fa-users field-icon"></i>
                  </div>
                  
                </div>


          
                <div *ngIf="round.get('gameMode')?.value === 'Picket Patrol'">

                  <div class="field-box my-2">
                    <label class="label"># of Rounds:</label>
                    <input class="event-field-input h-[44px]" id="numberOfRounds" formControlName="numberOfRounds" />
                    <i class="fa-solid fa-hashtag event-icon"></i>
                  </div>
                  
                  <div class="field-box my-2">
                    <label class="label">Side</label>
                    <select class="event-field-input" id="side" formControlName="side">
                      <option *ngFor="let side of sides" [value]="side">{{ side }}</option>
                    </select>
                    <i class="fa-solid fa-arrows-up-down event-icon"></i>
                  </div>
                  
                </div>


                <!-- <pre class="p-2 bg-slate-900 rounded-sm">{{ round.value | json }}</pre> -->


                <div class="text-right w-full">
                    <button mat-stroked-button type="button" (click)="removeRound(i)" class="!min-h-fit"><i class="fa-regular fa-circle-xmark pr-1"></i>Remove Round</button>
                </div>
                
              </div>
            </div>
          
  
  
            <div class="field-box my-2">
                <label for="extra">Extra:</label>
                <textarea class="event-field-input"id="extra" formControlName="extra"></textarea>
            </div>

            

            <!-- <button mat-flat-button type="button" (click)="saveServer()">Save Event</button> -->

            <div *ngIf="sharedDataService.regiment.guild_id == '681641606398607401'"
              (click)="sendMessage()"
              class="button fire mt-[1em]">
              Erin Abu!!
              <img src="assets/cannonbayo-color2.png"
              class="ml-2 h-auto w-[50px] pointer-events-none">
            </div>

          <div *ngIf="sharedDataService.regiment.guild_id != '681641606398607401'"
            (click)="sendMessage()"
            class="button fire mt-[1em]">
            Share to {{sharedDataService.regiment.webhook_channel}}
            <img src="assets/cannonbayo-color2.png"
            class="ml-2 h-auto w-[50px] pointer-events-none">
          </div>

            <!-- <button mat-flat-button type="button" (click)="sendMessage()">Send Event</button> -->
            

          </form>

    <!-- <div *ngIf="save">
        <h2 class="text-xl text-slate-400">Full Server Event Object:</h2>
        <pre>{{ serverData | json }}</pre>
    </div> -->






</div>






  