<form (ngSubmit)="createOrUpdateWeapon()">
	<div class="form-group m-4">

		<div class="mb-6 max-w-full">

			<!-- Updating Back Actions -->

			<div *ngIf="isUpdating"
				class="grid grid-cols-2">

				<div class="text-left">
					<button (click)="back()"
						mat-button
						class="!mt-[-1em]"
						type="button">
						<i class="fa-sharp fa-solid fa-arrow-left"></i>
						Switch Weapon
					</button>
				</div>

				<div class="text-right">
					<button (click)="createNew()"
						mat-button
						class="!mt-[-1em]"
						type="button">
						<i class="fa-sharp fa-solid fa-plus"></i>
						New Weapon
					</button>
				</div>

			</div>
			<mat-divider *ngIf="isUpdating"
				class="!my-5"></mat-divider>

			<!-- Creating Back Actions -->

			<div *ngIf="isCreating"
				class="grid grid-cols-2">

				<div class="text-left">
					<button (click)="back()"
						mat-button
						class="!mt-[-1em]"
						type="button">
						<i class="fa-sharp fa-solid fa-arrow-left"></i>
						Edit Existing
					</button>
				</div>

			</div>

			<mat-divider *ngIf="isCreating"
				class="!my-5"></mat-divider>
			<!--  -->

			<div *ngIf="!isUpdating && !isCreating"
				class="grid lg:grid-cols-4 grid-cols-1 text-center lg:text-left">

				<div class="lg:col-start-1 col-span-3">
					<span class="text-[#7d7e73]">Modify Existing</span>
					<select [(ngModel)]="selectedWeaponId"
						(change)="handleSelectionChange()"
						name="selectedWeapon"
						class="field-input my-[0.5em] text-xl !inline-block hover:!scale-100 focus:!scale-100 !transition-none">
						<option value
							selected>
							Select a weapon...
						</option>
						<option *ngFor="let weapon of weaponsList"
							[value]="weapon.id">
							{{
                            weapon.weapon }}
						</option>
					</select>
				</div>

				<div class="lg:col-start-4">
					<span class="hidden sm:block">&nbsp;</span>
					<button (click)="createNew()"
						type="button"
						class="text-neutral-200 ml-2 mt-2"
						mat-button>
						<i class="fa-sharp fa-solid fa-plus"></i>
						Create New
					</button>
				</div>

			</div>

		</div>

		<div *ngIf="isCreating || isUpdating">

			<div *ngIf="isUpdating"
				class="my-5 text-neutral-300 font-[300]">
				<span class="font-[500] pr-1 text-lg">
					<i class="fa-regular fa-pencil pr-2"></i>
					Editing
				</span>
				{{weaponName}}
			</div>

			<div class="field-box mb-5">
				<select [(ngModel)]="weaponType"
					matTooltipClass="form-tooltip"
					matTooltipPosition="left"
					matTooltip="Weapon Category"
					name="weaponType"
					class="field-input my-[0.5em] text-xl !inline-block hover:!scale-100 focus:!scale-100 !transition-none">
					<option value
						disabled
						selected>
						Weapon Category
					</option>
					<option value="Rifle">Rifle Category</option>
					<option value="Revolver">Revolver Category</option>
					<option value="Sword">Sword Category</option>
					<option value="Artillery">Artillery Category</option>
				</select>
				<i class="fa-solid fa-arrows-up-down field-icon focus:!transform-none"></i>
			</div>

			<div class="field-box">
				<input [(ngModel)]="weaponName"
					matTooltipClass="form-tooltip"
					matTooltipPosition="left"
					matTooltip="Weapon Name"
					name="weaponName"
					class="field-input my-[0.5em]"
					type="text"
					placeholder="Weapon name...">
				<i class="fa-solid fa-tag field-icon"></i>
			</div>

			<div class="field-box">
				<input [(ngModel)]="weaponRange"
					matTooltipClass="form-tooltip"
					matTooltipPosition="left"
					matTooltip="Weapon Range (Yards)"
					name="weaponRange"
					class="field-input my-[0.5em]"
					type="text"
					placeholder="Effective range...">
				<i class="fa-solid fa-bullseye field-icon"></i>
			</div>

			<div class="field-box">
				<input [(ngModel)]="weaponLength"
					matTooltipClass="form-tooltip"
					matTooltipClass="form-tooltip"
					matTooltipPosition="left"
					matTooltip="Weapon Length (Inches)"
					name="weaponLength"
					class="field-input my-[0.5em]"
					type="text"
					placeholder="Weapon length...">
				<i class="fa-solid fa-ruler field-icon"></i>
			</div>

			<div class="field-box">
				<input [(ngModel)]="weaponAmmo"
					matTooltipClass="form-tooltip"
					matTooltipPosition="left"
					matTooltip="Weapon Ammo/Caliber"
					name="weaponAmmo"
					class="field-input my-[0.5em]"
					type="text"
					placeholder="Ammo type...">
				<i class="fa-solid fa-box field-icon"></i>
			</div>

			<div class="field-box">
				<input [(ngModel)]="weaponImage"
					matTooltipClass="form-tooltip"
					matTooltipPosition="left"
					matTooltip="Weapon Image URL"
					name="weaponImage"
					class="field-input my-[0.5em]"
					type="text"
					placeholder="image url...">
				<i class="fa-solid fa-image field-icon"></i>
			</div>

			<div class="field-box">
				<input [(ngModel)]="weaponNotes"
					matTooltipClass="form-tooltip"
					matTooltipPosition="left"
					matTooltip="Extra Notes"
					name="weaponNotes"
					class="field-input my-[0.5em]"
					type="text"
					placeholder="Weapon notes...">
					<i class="fa-regular fa-note-sticky field-icon"></i> 
			</div>

		</div>
	</div>

	<div class="pb-2">
		<div *ngIf="isCreating && !isUpdating" class="text-right">
			<button
				mat-flat-button
				color="primary"
				type="submit"
				class="text-neutral-200">
					Create Weapon
			</button>
		</div>
	

		<div *ngIf="isUpdating && !isCreating" class="text-right">
			<button
				(click)="confirmDelete()"
				mat-flat-button
				type="button"
				class="!bg-red-700">
				Delete
			</button>
			<button 
				mat-flat-button
				color="primary"
				type="submit"
				class="text-neutral-200 ml-2">
				Update Weapon
			</button>
		</div>
	</div>

	

	

	

</form>
