<div *ngIf="loading"
	class="text-center text-xl opacity-75">
	<i class="fas fa-spinner fa-pulse mr-2"></i>
	Verifying credentials...
</div>



<div *ngIf="!loading"
	class="lg:w-[80vw] w-[100vw - 2em] m-auto lg:mt-[3.5em] mt-[2em] mb-[5em]">



	<div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mb-4 row-span-full">



		<!-- Left Box -->
		<div class="row-span-3 left-in">
			<div class="border-l-4 border-l-[#626057] bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 rounded-lg py-8 ring-1 ring-slate-900/5 shadow-xl w-full h-full">
				<h3 class="text-[#252525ce]  text-3xl tracking-tight mb-4 px-6">#PA Army App 2.0</h3>
				<p class="text-[#c4c4c4ce] text-lg  px-6">
					An all-in-one utility tool for managing your War of Rights regiment.
				</p>



				<div class="rounded-sm mb-3 mt-8 shadow-lg brightness-[60%] sepia-[70%] blur-[0.5px] w-[100%] sm:h-[350px] h-[250px]"
					style="background-image: url('https://cdn.discordapp.com/attachments/684701534466080807/975267284094427166/20220219130936_1.jpg');background-size: cover;">
				</div>



				<p class="text-[#c4c4c4bb] text-sm px-4 font-[100] italic text-center mb-[-10px] pt-2">
					""
					<span class="not-italic">
						- PA-[116thPVI] Cpt. Stalins
					</span>
				</p>



			</div>
		</div>




		<div class="lg:col-span-2 lg:row-span-2">



			<!-- Logged In Menu -->
			<div *ngIf="isLoggedIn"
				class="bg-slate-800/80 rounded-lg px-6 py-6 ring-1 ring-slate-900/5 shadow-xl w-full h-full !my-auto top-in"
				style="padding: 70px 2em;">



				<h3 class="text-neutral-400 text-lg pb-3 tracking-tight">
					Access Your Dashboards
				</h3>


				<div class="p-[1em]">
					<mat-list>
						<mat-action-list>




							<button *ngIf="showAdmin"
								routerLink="/admin/1"
								mat-list-item
								class="!py-[0.7em]">
								<i class="fa-duotone fa-shield-halved w-[25px] ml-[1em] mr-[0.5em]"></i>
								Admin Dashboard
							</button>


							<mat-divider *ngIf="showAdmin"></mat-divider>



							<button *ngIf="showMod"
								routerLink="/mod/1"
								mat-list-item
								class="!py-[0.7em]">
								<i class="fa-sharp fa-solid fa-chevrons-down w-[25px] ml-[1em] mr-[0.5em]"></i>
								NCO Dashboard
							</button>




							<mat-divider></mat-divider>


							<button *ngIf="showUser"
								routerLink="/user/1"
								mat-list-item
								class="!py-[0.7em]">
								<i class="fa-duotone fa-gear w-[25px] ml-[1em] mr-[0.5em]"></i>
								User Settings
							</button>


							<mat-divider class="sm:!hidden inline-block"></mat-divider>


							<button (click)="logout()"
								class="sm:!hidden !inline-block !text-[#bf3636] !w-full !py-[0.7em] !pl-[1em] !rounded-none  !text-[1rem]"
								style="font-family: 'Roboto' !important;"
								mat-button>
								<i class="fa-sharp fa-solid fa-arrow-right-from-bracket w-[25px] ml-[1em] mr-[0.5em]"></i>
								Logout
							</button>



						</mat-action-list>
					</mat-list>
				</div>



			</div>
			<!-- - -->



			<!-- Register Box -->
			<div *ngIf="registerTask && !loginTask && !isLoggedIn"
				class="bg-slate-800/80 rounded-lg px-6 py-6 ring-1 ring-slate-900/5 shadow-xl w-full h-full !my-auto top-in"
				style="padding: 70px 2em;">
				<h3 class="text-white text-lg pb-3  tracking-tight">Sign-up Now!</h3>
				<div *ngIf="isSuccessful"
					class="alert alert-success">
					Your registration is successful! You may login below.
				</div>
				<form #f="ngForm"
					*ngIf="!isSuccessful"
					(ngSubmit)="f.form.valid && onRegister()"
					name="form"
					novalidate>
					<div class="grid grid-cols-1 gap-4 sm:grid-cols-4">
						<div class="form-group sm:col-span-4">



							<div class="field-box">
								<input #email="ngModel"
									[(ngModel)]="registerForm.email"
									name="email"
									class="field-input my-[0.5em] !py-[1em]"
									type="email"
									placeholder="Your e-mail..."
									required>
								<i class="fa-sharp fa-regular fa-envelope field-icon"></i>
							</div>



							<div *ngIf="email.errors && f.submitted"
								class="alert-danger">
								<div *ngIf="email.errors['required']">Email is required</div>
								<div *ngIf="email.errors['email']">
									Email must be a valid email address
								</div>
							</div>
						</div>
						<div class="form-group sm:col-span-4">



							<div class="field-box">
								<input #username="ngModel"
									[(ngModel)]="registerForm.username"
									name="username"
									class="field-input my-[0.5em] !py-[1em]"
									type="text"
									placeholder="Enter username..."
									required>
								<i class="fa-sharp fa-regular fa-user field-icon"></i>
							</div>



							<div *ngIf="username.errors && f.submitted"
								class="alert-danger">
								<div *ngIf="username.errors['required']">
									Username is required
								</div>
								<div *ngIf="username.errors['minlength']">
									Username must be at least 3 characters
								</div>
								<div *ngIf="username.errors['maxlength']">
									Username must be at most 20 characters
								</div>
							</div>
						</div>
						<div class="form-group sm:col-span-4">
							<div class="grid lg:grid-cols-2 lg:gap-5">
								<div class="field-box">
									<input #password="ngModel"
										[(ngModel)]="registerForm.password"
										[required]="true"
										name="password"
										class="field-input my-[0.5em] !py-[1em]"
										type="password"
										placeholder="Password..."
										minlength="6">
									<i class="fa-sharp fa-regular fa-lock field-icon"></i>
								</div>
								<div class="field-box">
									<input #passwordConfirm="ngModel"
										[(ngModel)]="registerForm.passwordConfirm"
										[required]="true"
										[appPasswordMatchValidator]="registerForm.password"
										name="passwordConfirm"
										class="field-input my-[0.5em] !py-[1em]"
										type="password"
										placeholder="Confirm password...">



									<i class="fa-sharp fa-regular fa-lock field-icon"></i>
								</div>
							</div>



							<div *ngIf="f.submitted && (password.errors || passwordConfirm.errors)"
								class="alert-danger">
								<div *ngIf="password.errors?.['required']">
									Password is required
								</div>
								<div *ngIf="password.errors && password.errors?.['minlength']">
									Password must be at least 6 characters
								</div>
								<div *ngIf="passwordConfirm.errors?.['required']">
									Confirmation password is required
								</div>
								<div *ngIf="passwordConfirm.errors && passwordConfirm.errors?.['passwordMismatch']">
									Passwords do not match
								</div>
							</div>



						</div>



						<div class="form-group sm:col-span-1 sm:col-start-4">
							<button mat-raised-button
								class="w-full !py-2 !sm:py-[5px] sm:text-lg text-xl !bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 opacity-[65%] !transition !duration-300 ease-in hover:opacity-[80%]">
								Create!
							</button>
						</div>
						<div *ngIf="f.submitted && isSignUpFailed"
							class="alert alert-warning">
							Signup failed!
							<br>
							{{ errorMessage }}
						</div>
					</div>
				</form>
			</div>
			<!--  -->



			<!-- Login Box -->
			<div *ngIf="!registerTask && loginTask && !isLoggedIn"
				class="bg-slate-800/80 rounded-lg px-6 py-6 ring-1 ring-slate-900/5 shadow-xl w-full h-full !my-auto top-in"
				style="padding: 70px 2em;">
				<h3 class="text-white text-lg pb-3  tracking-tight">Login Now!</h3>
				<form #f="ngForm"
					*ngIf="!isLoggedIn"
					(ngSubmit)="f.form.valid && onLogin()"
					name="form"
					novalidate>
					<div class="grid grid-cols-1 gap-4 sm:grid-cols-4">
						<div class="form-group sm:col-span-4">



							<div class="field-box">
								<input #username="ngModel"
									[(ngModel)]="loginForm.username"
									name="username"
									class="field-input my-[0.5em] !py-[1em]"
									type="text"
									placeholder="Enter username..."
									required>
								<i class="fa-sharp fa-regular fa-user field-icon"></i>
							</div>




							<div *ngIf="username.errors && f.submitted"
								class="alert alert-danger"
								role="alert">
								Username
                                is
                                required!
							</div>




						</div>



						<!--  -->



						<div class="form-group sm:col-span-4">



							<div class="field-box">
								<input #password="ngModel"
									[(ngModel)]="loginForm.password"
									name="password"
									class="field-input my-[0.5em] !py-[1em]"
									type="password"
									placeholder="Enter password..."
									required>
								<i class="fa-sharp fa-regular fa-lock field-icon"></i>
							</div>





							<div *ngIf="password.errors && f.submitted"
								class="alert alert-danger"
								role="alert">
								<div *ngIf="password.errors['required']">
									Password is required
								</div>
								<div *ngIf="password.errors['minlength']">
									Password must be at least 6 characters
								</div>
							</div>




						</div>
						<div class="form-group sm:col-span-1 sm:col-start-4">


							<button mat-raised-button
								class="w-full !py-2 !sm:py-[5px] sm:text-lg text-xl !bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 opacity-[65%] !transition !duration-300 ease-in hover:opacity-[80%]">
								Login!
							</button>
						</div>
						<div *ngIf="f.submitted && isLoginFailed"
							class="alert alert-danger"
							role="alert">
							Login failed:
                            {{errorMessage}}
						</div>
					</div>
				</form>
			</div>
			<!--  -->




		</div>



		<div *ngIf="isLoggedIn"
			class="lg:col-span-2 lg:row-span-1 right-in">



			<div class="bg-slate-800 rounded-lg ring-1 ring-slate-900/5 shadow-xl h-full text-right">
				<!-- <button mat-stroked-button
                   
                    class="h-full"
                    (click)="logout()">
                    <i class="fa-solid fa-right-from-bracket !block pt-[8px] !text-xl"></i><span class="!text-sm">Logout</span>
                </button> -->



				<div class="font-[200] text-xs text-gray-400 p-[1em] !text-right">
					<span class="pr-2 max-w-fi">
						&copy; {{currentYear}} - {{nextYear}}
					</span>
					<span class="pr-2">
						The Pennsylvania Army
					</span>
					<span class="pr-2 !text-gray-300 block mt-1">
						<button class="hover:brightness-125 active:transform active:translate-y-1 active:translate-x-1" (click)="openPortfolio()">by molex</button>
					</span>
				</div>



			</div>



		</div>



		<div *ngIf="!loginTask && registerTask && !isLoggedIn"
			class="lg:col-span-2 lg:row-span-1 right-in">
			<div class="bg-slate-800 rounded-lg px-6 py-6 ring-1 ring-slate-900/5 shadow-xl w-full h-full">
				<h3 class="text-white text-lg pb-3  tracking-tight">
					Login to existing account...
				</h3>




				<button (click)="loginBtn()"
					mat-raised-button
					class="w-full !py-3 text-xl !bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 opacity-[65%] !transition !duration-300 ease-in hover:opacity-[80%]">
					Login
				</button>



			</div>
		</div>



		<div *ngIf="loginTask && !registerTask && !isLoggedIn"
			class="lg:col-span-2 lg:row-span-1 right-in">
			<div class="bg-slate-800 rounded-lg px-6 py-6 ring-1 ring-slate-900/5 shadow-xl w-full h-full">
				<h3 class="text-white text-lg pb-3  tracking-tight">
					Register an account!
				</h3>




				<button (click)="registerBtn()"
					mat-raised-button
					class="w-full !py-3 !text-xl !bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 opacity-[65%] !transition !duration-300 ease-in hover:opacity-[80%]">
					Sign Up!
				</button>



			</div>
		</div>





	</div>
</div>
