<div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mb-4 row-span-full">

    <div class="row-span-4">
        <div class="border-l-4 border-l-[#626057] bg-gradient-to-tr from-[#4b4a48]/80 to-[#a3a197]/80 rounded-lg py-8 ring-1 ring-slate-900/5 shadow-xl w-full h-full">
            <h3 class="text-[#252525ce] text-base font-serif text-3xl tracking-tight mb-4 px-6">#PA Army App 3.0</h3>
            <p class="text-[#c4c4c4ce] text-lg  px-6">
                An all-in-one utility tool for managing your War of Rights regiment.
            </p>

            <div class="rounded-sm mb-3 mt-8 shadow-lg brightness-[60%] sepia-[70%] blur-[0.5px] w-[100%] sm:h-[350px] h-[250px]" 
                style="background-image: url('https://cdn.discordapp.com/attachments/684701534466080807/975267284094427166/20220219130936_1.jpg');background-size: cover;">
            </div>

            <p class="text-[#c4c4c4bb] text-sm px-4 font-[100] italic text-center mb-[-10px] pt-2">"The British are the best" <span class="not-italic">- PA-[116thPVI] Cpt. Stalins</span></p>

            </div>
    </div>

    <div class="lg:col-span-2 lg:row-span-3">

        <div class="bg-slate-800/80 rounded-lg px-6 py-6 ring-1 ring-slate-900/5 shadow-xl w-full h-full">

            <h1 class="text-white text-[1.6rem] pb-3 font-serif tracking-tight">Login</h1>
            <p class="text-slate-400 text-sm">
                Login to your existing account.
            </p>

            <div class="bg-[#] mt-12 py-4 px-14 font-serif text-[1.3rem] text-[#88887b]">

                <input type="text" class="m-3 text-fld !font-[100]" placeholder="Username...">
                <input type="password" class="m-3 text-fld !font-[100]" placeholder="Password...">

            </div>

        </div>
    </div>

    <div class="lg:col-span-2 lg:row-span-1">
        <div class="bg-slate-800 rounded-lg px-6 py-6 ring-1 ring-slate-900/5 shadow-xl w-full h-full">
            <h1 class="text-white text-[1.4rem] pb-3 font-serif tracking-tight">Create an Account</h1>
            <p class="text-slate-400 text-sm">
                Create an account to have access to more features.
            </p>
        </div>
    </div>



</div>


