.left-in{
    animation: left-in .3s ease 0s 1 normal forwards;
}

.top-in{
    animation: top-in .3s ease 0s 1 normal forwards;
}

.bottom-in{
    animation: bottom-in .3s ease 0s 1 normal forwards;
}

.right-in{
    animation: right-in .3s ease 0s 1 normal forwards;
}

@keyframes left-in {
	0% {
		opacity: 0;
		transform: translateX(-150px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes top-in {
	0% {
		opacity: 0;
		transform: translateY(-150px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes bottom-in {
	0% {
		opacity: 0;
		transform: translateY(150px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes right-in {
	0% {
		opacity: 0;
		transform: translateX(150px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.alert-danger{
	font-weight: 200;
	font-size: .875rem;
	border-left: 3px #993434ce solid;
    padding-left: 0.5em;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #ffa1a1;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	width: fit-content;
	padding-top: 3px;
	padding-bottom: 3px;
	background: linear-gradient(90deg, #99343491, #99343400);
	font-family: 'Noto Sans', sans-serif !important;
}