
<h2 class="lg:text-2xl text-lg text-slate-400 pb-4 ml-2 lg:ml-0">Muster Roster</h2>

<div class="grid grid-cols-[auto_1fr] gap-4 my-4">
  <div>
    <p>User: {{ sharedDataService.currentUser.username }}!</p>
    <p>Regiment: {{ sharedDataService.regiment.regiment }}</p>
    <p>Guild ID: {{ sharedDataService.guildId }}</p>  
    <p>isModerator: {{sharedDataService.showMod}}</p>
    <p>isOwner: {{sharedDataService.isOwner}}</p>
  </div>
  <div>
    <div class="bg-slate-900/80 rounded-md border-l-4 border-yellow-700 text-yellow-300 p-4 mb-4">
      <div class="flex">
        <div class="mr-2">
          <i class="fas fa-exclamation-triangle"></i>
        </div>
        <div>
          <p>
            This component is under development.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




<div *ngIf="enlister">
  <app-enlister></app-enlister>
</div>

<div *ngIf="!enlister">
  <button mat-flat-button color="primary" (click)="enlistUsers()">
    Enlist Users
  </button>
</div>

<div>
  <h2>Muster Users</h2>
  <button (click)="getAllMusterUsers()">Get All Muster Users</button>
  
  <table *ngIf="musterUsers && musterUsers.length > 0">
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Discord ID</th>
        <th>Regiment ID</th>
        <th>Events</th>
        <th>Drills</th>
        <th>Join Date</th>
        <th>Last Muster</th>
        <th>Order By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of musterUsers">
        <td><input [(ngModel)]="user.nickname" /></td>
        <td><input [(ngModel)]="user.discordId" /></td>
        <td><input [(ngModel)]="user.regimentId" /></td>
        <td><input [(ngModel)]="user.events" /></td>
        <td><input [(ngModel)]="user.drills" /></td>
        <td><input [(ngModel)]="user.join_date" /></td>
        <td><input [(ngModel)]="user.last_muster" /></td>
        <td><input [(ngModel)]="user.order_by" /></td>
        <td>
          <button (click)="updateMusterUser(user)">Update</button>
          <button (click)="incrementEvents(user)">Increment Events</button>
          <button (click)="incrementDrills(user)">Increment Drills</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>