
<div *ngIf="loading" class="text-center text-[#88887b] text-xl opacity-75">
	<div class="lds-ellipsis">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<div *ngIf="!loading && currentMap"
	class="container  mx-auto mt-[1em]"
	id="map-contained">
	<div class="mb-[1em]">

		<div class="grid grid-cols-1 lg:grid-cols-[auto_1fr]">
			<div class="col-start-1 col-span-1">
				<div class="animate-top flex items-center" style="filter: drop-shadow(2px 0px 10px rgba(125, 126, 116, 0.507));">
					<div class="flex-shrink-0 text-[#88887b] md:flex justify-center items-center w-6 md:w-16 h-auto pl-1 hidden">
						<i class="fas fa-map-marked-alt fa-2x"></i>
					</div>
					<div class="ml-1 flex items-center">
						<div>
							<h3 class="text-[#88887b] font-[500] text-base md:text-xl tracking-tight drop-shadow-lg">{{ currentMap.map }}</h3>
							<span class="text-[#88887b] font-[300] text-sm md:text-base tracking-tight drop-shadow-lg inline-block">{{ currentMap.campaign }}</span>
						</div>
					</div>
				</div>

			</div>


			<div class="lg:col-start-2 col-start-1 col-span-1 place-self-end">
				<button (click)="goBack()"
					mat-button
					class="block !text-[#9ea18a] !mr-2">
					<i class="fa-sharp fa-solid fa-arrow-left pr-2"></i>
					Back
				</button>
				<button [matMenuTriggerFor]="optMenu"
				class="!text-neutral-200"
				color="primary"
					mat-raised-button>
					<i class="fa-solid fa-ellipsis-vertical pr-2"></i>
					More
				</button>
			</div>
		</div>


		<mat-menu #optMenu="matMenu"
			xPosition="before"
			class="bg-[#646258]/70 backdrop-blur-sm !mt-1 !w-[200px]">
			<button *ngIf="showAdmin"
				class="!text-[#b9b8b0] opacity-20 font-[400]"
				mat-menu-item
				disabled>
				<i class="pr-2 fa-solid fa-pen-to-square"></i>
				Edit Map
			</button>


			<!-- <p *ngIf="showUser"
				class="text-[0.8rem] ml-2 text-[#8b8a82] select-none">
				Event Planner
			</p> -->
			<!-- <mat-divider *ngIf="showUser"></mat-divider> -->


			<button *ngIf="showUser"
				(click)="openDialog()"
				class="!text-[#b9b8b0]/80 font-[400]"
				mat-menu-item>
				<span class="!text-neutral-400 font-[500]">
					<i class="pr-2 fa-regular fa-clipboard"></i>
					Map Notes
				</span>
			</button>


			<button *ngIf="showUser"
			(click)="
			open(
			  'https://stratsketch.com/' + currentMap.strat,
			  currentMap.map,
			  1500,
			  868
			)
		  "
				class="!text-[#b9b8b0]/80 font-[400]"
				mat-menu-item>
				<span class="!text-neutral-400 font-[500]">
					<i class="fa-solid fa-pen-ruler pr-2"></i>
					StratSketch
				</span>
			</button>


			<button *ngIf="showUser"
				class="!text-[#b9b8b0] opacity-20 font-[400]"
				mat-menu-item
				disabled>
				<i class="pr-2 fa-solid fa-plus"></i>
				Add to Event
			</button>
			<mat-divider *ngIf="showUser"></mat-divider>


			<button *ngIf="showUser"
				(click)="toggleFavorite(currentMap.id, currentUser.id)"
				class="!text-[#b9b8b0] font-[400]"
				mat-menu-item>
				<span *ngIf="isFavorited"
					class="!text-neutral-400 font-[500]">
					<i class="fa-solid fa-heart fa-heart pr-2 !text-red-400"></i>
					Unfavorite
				</span>
				<span *ngIf="!isFavorited"
					class="!text-neutral-400 font-[500]">
					<i class="fa-regular fa-heart pr-2 !text-red-400"></i>
					Favorite
				</span>
			</button>


			<button (click)="
          openSnackBar(
            currentMap.map + ' share link copied to clipboard.',
            6000
          );
          copyToClipboard('https://wortool.com/maps/' + currentMap.id)
        "
				class="!text-[#b9b8b0]/80 font-[400]"
				mat-menu-item>
				<span class="!text-neutral-400 font-[500]">
					<i class="pr-2 fa-sharp fa-solid fa-share-nodes"></i>
					Share
				</span>
			</button>
		</mat-menu>
	</div>

	<div class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-3 lg:gap-0 lg:p-[2em] p-[1em] bg-[#1e293b]/80 rounded-sm ring-2 ring-[#28364d]/70 lg:mt-8">
		<div class="w-full lg:col-start-1 lg:col-span-1 text-center lg:text-left lg:row-start-1 lg:row-span-3">


			<div class="p-4 rounded-t-md" style="background: linear-gradient(130deg,#28364d,#1f2b3ecb,#1e293b00,#1e293b00);">
				


				<mat-slide-toggle (change)="toggle($event)"
					class="font-[200]"><div class="text-[#88887b] lg:text-lg text-base font-[400] inline-block ml-3 hover:opacity-80 transition-all duration-200 cursor-pointer"><i class="fa-brands fa-youtube"></i> Flyover Cam</div></mat-slide-toggle>
			</div>



			<img *ngIf="!CamMapBool"
     (click)="openMapImageModal('https://wortool.com/' + currentMap.image)"
     src="https://wortool.com/{{ currentMap.image }}"
     class="fade-center transition-all active:!translate-y-2 active:translate-x-2 hover:cursor-pointer hover:brightness-[75%] brightness-[50%] sepia-[50%] lg:mr-auto lg:w-[80%] lg:h-auto block rounded-sm rounded-tl-none shadow-none duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30">


			<div *ngIf="CamMapBool"
				id="videoContainer"
				class="brightness-[75%] fade-center mb-[100px] lg:mr-auto lg:w-[95%] lg:h-[62%] h-[75%] block rounded-md rounded-tl-none shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30">
			</div>
		</div>


		<!--  -->

		
		<div class="lg:col-start-2 lg:col-span-1 lg:row-start-1 lg:row-span-3 text-[#94a3b8] mt-[1em] lg:mt-[0]">
			
			<div class="w-full text-right mb-4">
				<button *ngIf="showUser"
				mat-stroked-button
				class="!min-h-fit !py-1 mt-2.5 !text-neutral-200"
					(click)="
			  open(
				'https://stratsketch.com/' + currentMap.strat,
				currentMap.map,
				1500,
				868
			  )
			"
					style="z-index: 2"
					>
					<i class="fa-solid fa-pen-ruler pr-1"></i>
					StratSketch
					<sup>
						<i class="fa-solid fa-arrow-up-right-from-square pl-2"></i>
					</sup>
				</button>
			</div>
			


			<!-- <button style="z-index: 2;" class="!mr-[0.5em] float-right" mat-button (click)="openDialog()">
                <i class="fa-solid fa-paintbrush-pencil pr-1"></i>Map Notes
            </button> -->


			<div *ngFor="let unit of currentMap.ATTACKER; index as i"
				class="lg:pt-[2em] lg:pl-[2em] lg:pr-[2em] p-[1em] rounded-sm left-in ring-2 ring-[#28364d]/20"
				style="background: linear-gradient(130deg,#28364d,#1f2b3e00,#1e293b00,#1e293b00);">
				<!-- <h3 class="text-white text-2xl pb-3  tracking-tight">{{unit.side}} - {{unit.stance}}</h3> -->


				<div class="text-[#88887b] text-3xl font-[900]"
					style="filter: drop-shadow(3px 3px 8px #141414c2)">
					{{ unit.side }}
					<span class="block text-lg font-[400]">{{ unit.stance }}</span>
				</div>


				<div class="grid grid-cols-1 lg:grid-cols-4 gap-10 !select-text">
					<div class="lg:col-start-1 lg:col-span-2">
						<p *ngIf="unit.reg1"
							class="font-[400] mt-[1em] text-base text-slate-300">
							{{ unit.reg1 }}
						</p>
						<div *ngIf="unit.reg1Weapons">
							<p *ngIf="unit.reg1Weapons[1]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg1Weapons[1] }}
							</p>
							<p *ngIf="unit.reg1Weapons[2]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg1Weapons[2] }}
							</p>
							<p *ngIf="unit.reg1Weapons[3]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg1Weapons[3] }}
							</p>
							<p *ngIf="unit.reg1Weapons[4]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg1Weapons[4] }}
							</p>
						</div>
						<p *ngIf="unit.reg2"
							class="font-[400] mt-[1em] text-base text-slate-300">
							{{ unit.reg2 }}
						</p>
						<div *ngIf="unit.reg2Weapons">
							<p *ngIf="unit.reg2Weapons[1]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg2Weapons[1] }}
							</p>
							<p *ngIf="unit.reg2Weapons[2]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg2Weapons[2] }}
							</p>
							<p *ngIf="unit.reg2Weapons[3]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg2Weapons[3] }}
							</p>
							<p *ngIf="unit.reg2Weapons[4]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg2Weapons[4] }}
							</p>
						</div>


						<p *ngIf="unit.reg3"
							class="font-[400] mt-[1em] text-base text-slate-300">
							{{ unit.reg3 }}
						</p>
						<div *ngIf="unit.reg3Weapons">
							<p *ngIf="unit.reg3Weapons[1]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg3Weapons[1] }}
							</p>
							<p *ngIf="unit.reg3Weapons[2]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg3Weapons[2] }}
							</p>
							<p *ngIf="unit.reg3Weapons[3]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg3Weapons[3] }}
							</p>
							<p *ngIf="unit.reg3Weapons[4]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg3Weapons[4] }}
							</p>
						</div>


						<p *ngIf="unit.reg4"
							class="font-[400] mt-[1em] text-base text-slate-300">
							{{ unit.reg4 }}
						</p>
						<div *ngIf="unit.reg4Weapons">
							<p *ngIf="unit.reg4Weapons[1]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg4Weapons[1] }}
							</p>
							<p *ngIf="unit.reg4Weapons[2]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg4Weapons[2] }}
							</p>
							<p *ngIf="unit.reg4Weapons[3]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg4Weapons[3] }}
							</p>
							<p *ngIf="unit.reg4Weapons[4]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg4Weapons[4] }}
							</p>
						</div>
					</div>


					<!--  -->


					<div class="lg:col-start-3 col-span-2">
						<div *ngIf="unit.arty1"
							class="skewed-textR !text-right !select-none">
							Artillery
						</div>
						<div *ngIf="unit.arty1"
							class="pt-[1em] pr-[1em] !text-right"
							style="border-right: dotted 1px #7c7d738f">
							<p *ngIf="unit.arty1"
								class="font-[400] text-sm text-slate-300">
								{{ unit.arty1 }}
							</p>
							<div *ngIf="unit.arty1Weapons">
								<p *ngIf="unit.arty1Weapons[1]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty1Weapons[1] }}
								</p>
								<p *ngIf="unit.arty1Weapons[2]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty1Weapons[2] }}
								</p>
								<p *ngIf="unit.arty1Weapons[3]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty1Weapons[3] }}
								</p>
								<p *ngIf="unit.arty1Weapons[4]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty1Weapons[4] }}
								</p>
							</div>


							<p *ngIf="unit.arty2"
								class="font-[400] text-sm text-slate-300 mt-[0.5em]">
								{{ unit.arty2 }}
							</p>
							<div *ngIf="unit.arty2Weapons">
								<p *ngIf="unit.arty2Weapons[1]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty2Weapons[1] }}
								</p>
								<p *ngIf="unit.arty2Weapons[2]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty2Weapons[2] }}
								</p>
								<p *ngIf="unit.arty2Weapons[3]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty2Weapons[3] }}
								</p>
								<p *ngIf="unit.arty2Weapons[4]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty2Weapons[4] }}
								</p>
							</div>


							<p *ngIf="unit.arty3"
								class="font-[400] text-sm text-slate-300 mt-[0.5em]">
								{{ unit.arty3 }}
							</p>
							<div *ngIf="unit.arty3Weapons">
								<p *ngIf="unit.arty3Weapons[1]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty3Weapons[1] }}
								</p>
								<p *ngIf="unit.arty3Weapons[2]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty3Weapons[2] }}
								</p>
								<p *ngIf="unit.arty3Weapons[3]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty3Weapons[3] }}
								</p>
								<p *ngIf="unit.arty3Weapons[4]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty3Weapons[4] }}
								</p>
							</div>


							<p *ngIf="unit.arty4"
								class="font-[400] text-sm text-slate-300 mt-[0.5em]">
								{{ unit.arty4 }}
							</p>
							<div *ngIf="unit.arty4Weapons">
								<p *ngIf="unit.arty4Weapons[1]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty4Weapons[1] }}
								</p>
								<p *ngIf="unit.arty4Weapons[2]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty4Weapons[2] }}
								</p>
								<p *ngIf="unit.arty4Weapons[3]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty4Weapons[3] }}
								</p>
								<p *ngIf="unit.arty4Weapons[4]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty4Weapons[4] }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="block pr-[20px] text-center text-3xl font-[300] select-none my-4">
				<img src="https://wortool.com/assets/swords.png"
					class="animate-bounce mx-auto h-[43px] w-auto pointer-events-none brightness-75 sepia-[70%]">
				<span class="block text-base font-[200]">vs.</span>
			</div>


			<div *ngFor="let unit of currentMap.DEFENDER; index as i"
				class="lg:pb-[2em] lg:pr-[2em] lg:pl-[2em] p-[1em] rounded-sm text-right right-in ring-2 ring-[#28364d]/20"
				style="background: linear-gradient(-25deg,#28364d,#1f2b3e00,#1e293b00,#1e293b00);"
				>
				<!-- <h3 class="text-white text-2xl pb-3  tracking-tight">{{unit.side}} - {{unit.stance}}</h3> -->


				<div class="text-[#88887b] text-3xl font-[900]"
					style="filter: drop-shadow(3px 3px 8px #141414c2)">
					{{ unit.side }}
					<span class="block text-lg font-[400]">{{ unit.stance }}</span>
				</div>


				<div class="grid grid-cols-1 lg:grid-cols-4 lg:gap-10 !select-text">
					<div class="col-start-1 col-span-2">
						<div *ngIf="unit.arty1"
							class="skewed-text !text-left !select-none">
							Artillery
						</div>
						<div *ngIf="unit.arty1"
							class="pt-[1em] pl-[1em] !text-left"
							style="border-left: dotted 1px #7c7d738f">
							<p *ngIf="unit.arty1"
								class="font-[400] text-sm text-slate-300">
								{{ unit.arty1 }}
							</p>
							<div *ngIf="unit.arty1Weapons">
								<p *ngIf="unit.arty1Weapons[1]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty1Weapons[1] }}
								</p>
								<p *ngIf="unit.arty1Weapons[2]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty1Weapons[2] }}
								</p>
								<p *ngIf="unit.arty1Weapons[3]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty1Weapons[3] }}
								</p>
								<p *ngIf="unit.arty1Weapons[4]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty1Weapons[4] }}
								</p>
							</div>


							<p *ngIf="unit.arty2"
								class="font-[400] text-sm text-slate-300 mt-[0.5em]">
								{{ unit.arty2 }}
							</p>
							<div *ngIf="unit.arty2Weapons">
								<p *ngIf="unit.arty2Weapons[1]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty2Weapons[1] }}
								</p>
								<p *ngIf="unit.arty2Weapons[2]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty2Weapons[2] }}
								</p>
								<p *ngIf="unit.arty2Weapons[3]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty2Weapons[3] }}
								</p>
								<p *ngIf="unit.arty2Weapons[4]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty2Weapons[4] }}
								</p>
							</div>


							<p *ngIf="unit.arty3"
								class="font-[400] text-sm text-slate-300 mt-[0.5em]">
								{{ unit.arty3 }}
							</p>
							<div *ngIf="unit.arty3Weapons">
								<p *ngIf="unit.arty3Weapons[1]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty3Weapons[1] }}
								</p>
								<p *ngIf="unit.arty3Weapons[2]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty3Weapons[2] }}
								</p>
								<p *ngIf="unit.arty3Weapons[3]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty3Weapons[3] }}
								</p>
								<p *ngIf="unit.arty3Weapons[4]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty3Weapons[4] }}
								</p>
							</div>


							<p *ngIf="unit.arty4"
								class="font-[400] text-sm text-slate-300 mt-[0.5em]">
								{{ unit.arty4 }}
							</p>
							<div *ngIf="unit.arty4Weapons">
								<p *ngIf="unit.arty4Weapons[1]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty4Weapons[1] }}
								</p>
								<p *ngIf="unit.arty4Weapons[2]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty4Weapons[2] }}
								</p>
								<p *ngIf="unit.arty4Weapons[3]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty4Weapons[3] }}
								</p>
								<p *ngIf="unit.arty4Weapons[4]"
									class="text-sm p-1 weapon-class">
									{{ unit.arty4Weapons[4] }}
								</p>
							</div>
						</div>
					</div>


					<!--  -->
					<div class="lg:col-start-3 lg:col-span-2">
						<p *ngIf="unit.reg1"
							class="font-[400] mt-[1em] text-base text-slate-300">
							{{ unit.reg1 }}
						</p>
						<div *ngIf="unit.reg1Weapons">
							<p *ngIf="unit.reg1Weapons[1]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg1Weapons[1] }}
							</p>
							<p *ngIf="unit.reg1Weapons[2]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg1Weapons[2] }}
							</p>
							<p *ngIf="unit.reg1Weapons[3]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg1Weapons[3] }}
							</p>
							<p *ngIf="unit.reg1Weapons[4]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg1Weapons[4] }}
							</p>
						</div>
						<p *ngIf="unit.reg2"
							class="font-[400] mt-[1em] text-base text-slate-300">
							{{ unit.reg2 }}
						</p>
						<div *ngIf="unit.reg2Weapons">
							<p *ngIf="unit.reg2Weapons[1]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg2Weapons[1] }}
							</p>
							<p *ngIf="unit.reg2Weapons[2]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg2Weapons[2] }}
							</p>
							<p *ngIf="unit.reg2Weapons[3]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg2Weapons[3] }}
							</p>
							<p *ngIf="unit.reg2Weapons[4]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg2Weapons[4] }}
							</p>
						</div>


						<p *ngIf="unit.reg3"
							class="font-[400] mt-[1em] text-base text-slate-300">
							{{ unit.reg3 }}
						</p>
						<div *ngIf="unit.reg3Weapons">
							<p *ngIf="unit.reg3Weapons[1]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg3Weapons[1] }}
							</p>
							<p *ngIf="unit.reg3Weapons[2]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg3Weapons[2] }}
							</p>
							<p *ngIf="unit.reg3Weapons[3]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg3Weapons[3] }}
							</p>
							<p *ngIf="unit.reg3Weapons[4]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg3Weapons[4] }}
							</p>
						</div>


						<p *ngIf="unit.reg4"
							class="font-[400] mt-[1em] text-base text-slate-300">
							{{ unit.reg4 }}
						</p>
						<div *ngIf="unit.reg4Weapons">
							<p *ngIf="unit.reg4Weapons[1]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg4Weapons[1] }}
							</p>
							<p *ngIf="unit.reg4Weapons[2]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg4Weapons[2] }}
							</p>
							<p *ngIf="unit.reg4Weapons[3]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg4Weapons[3] }}
							</p>
							<p *ngIf="unit.reg4Weapons[4]"
								class="text-sm p-1 ml-4 weapon-class">
								{{ unit.reg4Weapons[4] }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!--  -->
	</div>
</div>


<ng-template #dialogTemplate>
	<div class="notes-dialog"
		cdkDrag
		cdkDragRootElement=".cdk-overlay-pane"
		resizable>
		<div cdkDragHandle
			class="py-2 bg-slate-700 grid grid-cols-2">
			<div class="col-start-1 text-left pl-2">Map Notes</div>
			<div class="col-start-2 text-right pr-2">
				<i (click)="closePopup()"
					class="fa-sharp fa-solid fa-xmark-large cursor-pointer hover:opacity-75"></i>
			</div>
		</div>


		<mat-tab-group>
			<mat-tab label="My Notes">
				<div class="tab-content">
					<div class="p-[1em]">
						<div class="post-it">
							<textarea #notesTextarea placeholder="No notes found..">{{currentNotes}}</textarea>
							<div class="textarea-overlay">
								<i class="fa-sharp fa-solid fa-up-right-and-down-left-from-center fa-rotate-90"></i>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="My Regiment Notes">
				<div class="tab-content">
					<div class="p-[1em]">
						<div class="post-it">
							<textarea #notesTextareaReg
								placeholder="No notes found.."
								disabled>
								Not Yet Implemented
							</textarea>
							<div class="textarea-overlay">
								<i class="fa-sharp fa-solid fa-up-right-and-down-left-from-center fa-rotate-90"></i>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>


		<div class="text-right mr-[1em] pb-[1em]">
			<button (click)="closePopup()"
				mat-button
				class="!text-[#c24646] !mr-2">
				Close
			</button>
			<button (click)="saveNotes(notesTextarea.value, currentMap.id)"
				mat-stroked-button
				class="!text-[#afaf9b]">
				Save
			</button>
		</div>
	</div>
</ng-template>
